<section
style="min-height: 100vh;"
class="activities-page mb-5 mrginBottom">
<app-shared-header
header="notifications"
></app-shared-header>
<!--  -->

    <div class="container">
    <section>
     
        <div 
        *ngIf="notificationsService.loading"
        class="col-md-12">
            <app-laoding ></app-laoding>
        </div>
        <h2 
        *ngIf="!notificationsService.loading"
        style="font-size: 25px;"
        class="mb-4">
            {{'notifications'|translate}}
        </h2>
        <ul 
        *ngIf="!notificationsService.loading"
        class="list-unstyled p-0 m-0">
            <li
            style="border: 1px solid #dddddd;
            padding:20px 10px;
            border-radius: 10px;
            align-items: start;"
            class="mb-4 d-flex  justify-content-between "
            *ngFor="let item of notifications;let i = index"
            >
            <a 
            (click)="checkRoute(item)"
            style="max-width:85%;display: block;color: black;cursor: pointer;"
            class="d-flex">
                <span class="d-block mx-2">
                    <i class="fa-solid fa-bell maincolor"></i>
                </span>
                <div>
                    <p class="maincolor mb-1">
                        {{item?.title}}
                       </p>
                       <p class="m-0">
                        {{item?.message}}
                       </p>
                </div>
            </a>
            <div 
            class="btn-group" dropdown>
                <button
                style="background-color: transparent;border:none"
                id="button-basic" dropdownToggle type="button" 
                        aria-controls="dropdown-basic">
                        <i class="fa-solid fa-ellipsis"></i>
                        <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu cstm not" 
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem">
                    <a class="dropdown-item" 
                    (click)="showDeleteNotificationsPopup=item?.id;deleteNotification() "
                    >
                        {{'dismiss'|translate}}
                  </a></li>
                </ul>
              </div>
        </li>
        </ul>
        <p    
        class="text-secondary fw-bold text-center"
        *ngIf="!notifications?.length&&!notificationsService.loading">
           {{'no_data'|translate}}
        </p>
    </section>
    </div>

</section>
<!-- <div 
[ngClass]="{
    'd-flex':showDeleteNotificationsPopup!=-1,
    'd-none':showDeleteNotificationsPopup==-1
}"
class="cstmpopup ">
    <div class="content small">
        <i 
        (click)="showDeleteNotificationsPopup=-1"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>
        <div class="container">
            <h2
            style="font-weight: 400;font-size:20px;line-height: 30px;"
            >{{'deletenotitification'|translate}}</h2>
            <div class="mt-4 d-flex justify-content-end ">
                <div>
                    <button 
                    (click)="deleteNotification()"
                    class="btn btn-danger">
                        {{'delete'|translate}}
                        <i 
                        *ngIf="deleteLoading"
                        class="fas fa-circle-notch fa-spin"></i>
                    </button>
                    <span class="mx-2"></span>
                    <button 
                    (click)="showDeleteNotificationsPopup=-1"
                    class="btn btn-warning">
                        {{'cancel'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->