<div class="container">
    <h2
    style="font-weight: 400;font-size:20px;line-height: 30px;"
    >{{'Filter'|translate}}</h2>
    <div class="row body">
        <div 
        class="col-lg-6 col-xl-4 mb-3">
            <div>
                <accordion [isAnimated]="true">
                    <accordion-group
                    heading="{{'categories'|translate}}">
                    
                        <ul 
                        class="list-unstyled p-0"
                        *ngFor="let item of interst">
                          <li>
                            <span 
                            style="background-color: #F89416;"
                            class="d-block  rounded text-white p-2 mb-2">
                              {{item?.name}}
                            </span>
                            <ul class="list-unstyled p-0 mx-2">
                              <li 
                              class="mb-2 d-flex"
                              *ngFor="let sub of item?.sub_interests;let i = index">
                                <input
                                [id]="sub?.sub_interests_name+i"
                                [(ngModel)]="sub.selected"
                                type="checkbox">
                                <label 
                                [for]="sub?.sub_interests_name+i"
                                class="mx-2">
                                  {{sub?.sub_interests_name}}
                                </label>                           
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <div class="text-center">
                          <i 
                          *ngIf="homeService?.interistsLoading"
                          class="fas fa-circle-notch fa-spin"></i>
                        </div>
                    </accordion-group>
                  </accordion>
            </div>
        </div>
        <!--  -->
        <div 
        class="col-lg-6 col-xl-4 mb-3">
            <div>
                <accordion [isAnimated]="true">
                    <accordion-group
                    heading="{{'area'|translate}}">
                 
                        <ul 
                        class="list-unstyled p-0"
                        *ngFor="let item of areas">
                          <li>
                            <span 
                            style="background-color: #F89416;"
                            class="d-block  rounded text-white p-2 mb-2">
                              {{item?.gov}}
                            </span>
                            <ul class="list-unstyled p-0 mx-2">
                              <li 
                              class="mb-2 d-flex"
                              *ngFor="let sub of item?.areas;let i = index">
                                <input 
                                [id]="sub?.name+i"
                                [(ngModel)]="sub.selected"
                                type="checkbox">
                                <label 
                                [for]="sub?.name+i"
                                class="mx-2">
                                  {{sub?.name}}
                                </label>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <div class="text-center">
                          <i 
                          *ngIf="authService?.arealoading"
                          class="fas fa-circle-notch fa-spin"></i>
                        </div>
                    </accordion-group>
                  </accordion>
            </div>
        </div>
        <!--  -->
        <div 
        *ngIf="isLogin()"
        class="col-lg-6 col-xl-4 mb-3">
            <div>
                <accordion [isAnimated]="true">
                    <accordion-group
                    heading="{{'members'|translate}}">
                   
                    <ul class="list-unstyled p-0">
                      <li 
                      class="mb-2 d-flex"
                      *ngFor="let item of members;let i = index">
                        <input 
                        [id]="item?.child_name+i"
                        [(ngModel)]="item.selected"
                        type="checkbox">
                        <label 
                        [for]="item?.child_name+i"
                        class="mx-2">
                          {{item?.child_name|replaceComma}}
                        </label>
                      </li>
                    </ul>
                    <div class="text-center">
                      <i 
                      *ngIf="membersservice?.membersLoading"
                      class="fas fa-circle-notch fa-spin"></i>
                    </div>
                    </accordion-group>
                  </accordion>
            </div>
        </div>
        <!--  -->
        <div 
        class="col-lg-6 col-xl-4 mb-3">
            <div>
                <accordion [isAnimated]="true">
                    <accordion-group
                    
                    heading="{{'rating'|translate}}">
                    <div class="text-center">
                      <!-- <rating [(ngModel)]="rate"  [max]="5" ></rating> -->
                      <div style="display: flex; align-items: center;justify-content:center">
                        <ngx-stars 
                        [readonly]="false" 
                        [size]="5" [maxStars]="5"
                        customSize="20px"
                        color="#F89416" 
                        (ratingOutput)="onRatingSet($event)"></ngx-stars>
                      </div>
                    </div>
                    </accordion-group>
                  </accordion>
            </div>
        </div>
        <!--  -->
        <div 
        class="col-lg-6 col-xl-4 mb-3">
            <div>
                <accordion [isAnimated]="true">
                    <accordion-group
                    heading="{{'price'|translate}}">
                    <ngx-slider 
                    [(value)]="value2" 
                    [(highValue)]="highValue2" 
                    [options]="options2"></ngx-slider>
                    </accordion-group>
                  </accordion>
            </div>
        </div>
        <!--  -->
        <div 
        class="col-lg-6 col-xl-4 mb-3">
            <div>
                <accordion [isAnimated]="true">
                    <accordion-group
                    heading="{{'age_range'|translate}}">
                    <ngx-slider 
                    [(value)]="value" 
                    [(highValue)]="highValue" 
                    [options]="options"></ngx-slider>
                    </accordion-group>
                  </accordion>
            </div>
        </div>
        <!--  -->
    </div>
    <button 
    (click)="doneFilter()"
    class="orangebtn">
        {{'search'|translate}}
    </button>
</div>