<article 
[ngStyle]="{
    'textAlign':lang=='ar'?'right':'left',
    'direction':lang=='ar'?'rtl':'ltr'
}"
class="cart-one glopal-cart position-relative">
    <!-- <div class="d-flex justify-content-end p-2 heart">
        <i class="fa-solid fa-heart"></i>
    </div> -->
    <div class="imgPart position-relative">
        <img appImgs 
        
        [src]="imgSrc"  alt="join">
        <img appImgs 
        *ngIf="discount_percent&&discount_percent!='0.0 %'"
        style="width:90px;height:60px;position: absolute;top: 0;left:10px"
        src="assets/images/discount.svg" alt="" >
        <div
        *ngIf="discount_percent&&discount_percent!='0.0 %'"
        style="color:white;position: absolute;top: 0;left:10px;font-size: small;text-align: center;width: 90px;"
        >
            <span 
           
            style="color:white;font-size: small;">
                {{discount_percent}}
            </span>
        </div>
    
    </div>
    <div class="detasils px-3 py-4">
        <h2>{{lang == 'ar' ? name_ar : name_en}}</h2>
        <!--  -->
       <div class="price">
          <ng-container *ngIf="pre_price!=price">
            <del class="maincolor">
                {{pre_price}} 
                {{'kwd'|translate}}
            </del>
            <span class="mx-1"></span>
          </ng-container>
          
            <small class="orangecolor">{{price}}  {{'kwd'|translate}}</small>
       </div>
        <div class="">
       
            <a 
            class="maincolor d-flex justify-content-end mt-3 align-items-center viewDetails"
            [routerLink]="['/product/',id]">
            <i class="mx-2 fa-solid fa-arrow-up-right-from-square maincolor"></i>
                {{'view_details'|translate}}
            </a>
        </div>
    </div>
</article>