<app-shared-header header="contactus"></app-shared-header>
<section
class="d-flex justify-content-center text-center"
style="min-height: 50vh;">
    <div class="text-center">
       <img appImgs 
       style="width: 150px;"
        src="assets/images/call.png" alt="join">
       <button class="orangebtn my-3 " style="width: auto !important;">
        <i class="fa-regular fa-envelope"></i> 
        <span class="mx-1"></span>   
        {{'contact'|translate}}<br>
       <!-- <bdi>
        +965 92294872
       </bdi> -->
       </button>
       <a
       target="_blank"
       href="https://api.whatsapp.com/send/?phone=96592294872&text&app_absent=0"
       >
        <button class="orangebtn withmaincolor my-3" style="width: auto !important;">
            <i class="fa-brands fa-whatsapp"></i>
            <span class="mx-1"></span>   
                {{'Contact_by_Whatsapp'|translate}}
           </button> 
       </a>
    </div>
</section>