<article class="footerCart">
    <img appImgs [src]="src" class="mb-2" alt="join">
    <h2>{{h2|translate}}</h2>
    <div style="min-height: 70px;">
        <p>{{p|translate}}</p>
    </div>
    <ul class="m-0 p-0 list-unstyled">
        <li
        style="justify-content: flex-start;"
        class="d-flex"
        *ngFor="let item of li">
            <i class="fa-solid fa-circle-check mt-1"></i>
            <span class="mx-2">
                {{item|translate}}
            </span>
        </li>
    </ul>
</article>