<article class="footerCart">
    <img src="assets/images/car.53532650.svg" alt="join">
    <h2>{{'lorem'|translate}}</h2>
    <p>{{'loremlorem'|translate}}</p>
    <ul class="m-0 p-0 list-unstyled">
        <li>
            <i class="fa-solid fa-circle-check"></i>
            <span class="mx-2">
                {{'100'|translate}}
            </span>
        </li>
        <li>
            <i class="fa-solid fa-circle-check"></i>
            <span class="mx-2">
                {{'100'|translate}}
            </span>
        </li>
        <li>
            <i class="fa-solid fa-circle-check"></i>
            <span class="mx-2">
                {{'100'|translate}}
            </span>
            
        </li>
    </ul>
</article>