.name::-webkit-scrollbar {
    height: 5px;
  }
  
  /* Track */
  .name::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .name::-webkit-scrollbar-thumb {
    background: #00DCDC; 
  }
  
  /* Handle on hover */
  .name::-webkit-scrollbar-thumb:hover {
    background: #00DCDC; 
  }