<div  
>
  <div class=" p-2">
    <accordion
    [isAnimated]="true"
    [closeOthers]="true">
      <accordion-group [heading]="selectedLocation?.branch?.branch_name || 'select_location'|translate">
          <div 
          *ngFor="let item of location;let i = index"
          class="form-check mb-2">
            <input 
            (change)="selectLocation(item)"
            class="form-check-input" type="radio" name="flexRadioDefault" [id]="i">
            <label 
            class="form-check-label" [for]="i">
              {{item?.branch?.branch_name}}
            </label>
          </div>
      </accordion-group>
      <!--  -->
      <accordion-group [heading]="(selectedDate|date) || 'select_Date'|translate">
        <div 
        *ngIf="selectedLocation&&checkTodayDate(selectedLocation)&&!monthlyloading"
        class="my-2"
        >

        <ng-container
        *ngIf="selectedLocation?.frequency!='DAILY'"
        >
        <div 
        *ngFor="let item of enabledDates;let i = index"
        class="form-check mb-2">
          <input 
          (change)="onDateCange(item)"
          class="form-check-input" type="radio" name="flexRadioDefault" [id]="item+i">
          <label 
          class="form-check-label" [for]="item+i">
            {{item | date:'EEEE, d MMMM, y'}}
          </label>
        </div>
        </ng-container>
        

        <!-- <input
        (bsValueChange)="onDateCange($event)"
        class="form-control" placeholder="Datepicker" bsDatepicker
        [minDate]="minDate"
        [maxDate]="maxDate"
        [daysDisabled]="daysDisabled"> -->
        <div class="d-flex justify-content-center">
            
            <p-calendar
            *ngIf="selectedLocation?.frequency=='DAILY'"
            #calendar
            [inline]="true"
            [(ngModel)]="date"
            [minDate]="minDate"
            [maxDate]="maxDate"
            [disabledDays]="daysDisabled"
            [disabledDates]="disabledDates"
            (onSelect)="onDateCange($event)"
            (onYearChange)="checkYear($event)"
            (onMonthChange)="checkYear($event)"
            ></p-calendar>
          </div>
        </div>
      </accordion-group>
      <!--  -->
      <accordion-group 
      [heading]="selectedTime?.from_time ? (selectedTime?.from_time + ' - ' + selectedTime?.to_time) :'select_time'|translate" >
          <div 
          *ngFor="let item of availableTime;let i = index"
          class="form-check mb-2">
            <input 
            #inpt
            [checked]="item?.checked"
            (change)="selectTime(item,inpt)"
            class="form-check-input" type="radio" name="times" [id]="item?.from_time+i">
            <label 
            class="form-check-label" [for]="item?.from_time+i">
              {{  item?.from_time + " - " + item?.to_time}} ( {{'available'|translate}}  {{item?.available_seats-item?.chosencount}} )
            </label>
          </div>
        
      </accordion-group>
      <!--  -->
      <accordion-group
      *ngIf="isLogin()&&!hideMembers"
      heading="{{'select_child'|translate}}">
        <div
        *ngIf="membersservice.membersLoading"
        class="d-flex justify-content-center">
          <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
        <ng-container *ngIf="selectedTime">
          <div 
          *ngFor="let item of members;let i = index"
          class="form-check mb-2">
            <input 
            [disabled]="item?.disabled || (item?.child_age|stringToNumber)>(ageTo|stringToNumber) || (item?.child_age|stringToNumber)<(ageFrom|stringToNumber)"
            [(ngModel)]="item.selected"
            (change)="selectMembers(item?.child_id)"
            class="form-check-input" type="checkbox"  [id]="item?.child_name+i">
            <label class="form-check-label" [for]="item?.child_name+i">
              {{item?.child_name|replaceComma}}
              <ng-container
              *ngIf="(item?.child_age|stringToNumber)>(ageTo|stringToNumber)|| (item?.child_age|stringToNumber)<(ageFrom|stringToNumber)"
              >
                <span class="mx-1"></span>
                <span 

                class="orangecolor fw-bold">{{'not_eligible'|translate}}</span>
              </ng-container>
              
      
            </label>
          </div>
          <p 
          (click)="showpopup=true"
          style="cursor: pointer;"
          class="maincolor">
            {{'add_members'|translate}}
          </p>
        </ng-container>
             
  
      </accordion-group>
      <!--  -->
    </accordion>
    <form 
    #formDirective="ngForm" 
    [formGroup]="notuserForm"
    [hidden]="isLogin()">
       <div class="form-group mb-3">
          <label>{{'name'|translate}}</label>
          <input 
          formControlName="name"
          type="text" class="form-control">
          <p 
          *ngIf="(notuserForm.controls['name']?.errors!=null && notuserForm.controls['name'].touched) ||
          (notuserForm.controls['name']?.errors!=null && submited)
          "
          class="my-2 text-danger">
              {{'required'|translate}}
          </p>
       </div>
       <div class="form-group mb-3">
        <label>{{'phone_number'|translate}}</label>
        <input 
        formControlName="phone"
        type="text" class="form-control">
        <p 
        *ngIf="(notuserForm.controls['phone']?.errors!=null && notuserForm.controls['phone'].touched) ||
        (notuserForm.controls['phone']?.errors!=null && submited)
        "
        class="my-2 text-danger">
            {{'validphone'|translate}}
        </p>
     </div>
     <div class="form-group mb-3">
      <label>{{'email'|translate}}</label>
      <input 
      formControlName="email"
      type="text" class="form-control">
      <p 
      *ngIf="(notuserForm.controls['email']?.errors!=null && notuserForm.controls['email'].touched) ||
      (notuserForm.controls['email']?.errors!=null && submited)
      "
      class="my-2 text-danger">
          {{'validemail'|translate}}
      </p>
   </div>
   <div 
   *ngIf="!hideMembers"
   class="mb-3">
    <label >{{"number_of_members"|translate}}</label> <br>
    <!-- <label class="mb-2">( {{"available"|translate}} {{avialbeMembers}} )</label> -->
    <div  class="plusminus ">
      <i 
      (click)="minusOne()"
      class="fa-solid fa-minus"></i>
      <span class="mx-2 count">{{notUserMembersCount}}</span>
      <i 
      (click)="plusOne()"
      class="fa-solid fa-plus"></i>
  </div>
   </div>
   <div
   *ngIf="!hideMembers"
   class="mb-3">
    <div class="form-check">
      <input 
      formControlName="iconfirm"
      class="form-check-input" type="checkbox" value="" id="iconfirm">
      <label class="form-check-label" for="iconfirm">
        {{'i_confirm'|translate}}
      </label>
      <p 
      *ngIf="(notuserForm.controls['iconfirm']?.errors!=null && notuserForm.controls['iconfirm'].touched) ||
      (notuserForm.controls['iconfirm']?.errors!=null && submited)
      "
      class="my-2 text-danger">
          {{'required'|translate}}
      </p>
    </div>
   </div>
  </form>
  </div>
      <button 
      [disabled]="complete"
      (click)="formDirective.ngSubmit.emit();confirmAddActivity()"
      class="orangebtn my-2">
          {{complete ? ('fully_booked'|translate) : ('confirm'|translate)}}
      </button>
</div>

<div 

*ngIf="monthlyloading"
class="cstmpopup">
    <div class="content add-member"
    style="background-color: transparent;"
    >
      <app-laoding></app-laoding>
    </div>
</div>
<div 
[ngClass]="{
    'd-flex':showpopup,
    'd-none':!showpopup
}"
*ngIf="showpopup"
class="cstmpopup">
    <div class="content add-member">
        <i 
        (click)="showpopup=false"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>
        <h2
        style="font-weight: 400;font-size:20px;line-height: 30px;"
        >{{'add_member'|translate}}</h2>
        <div class="container ">
     
            <app-add-members
            (closePopUp)="showpopup=false"
            ></app-add-members>
        </div>
    </div>
</div>