<app-laoding *ngIf="loading"></app-laoding>
<section *ngIf="clup_details" style="min-height: 100vh;" class="clup-details details-page">
   


    <div 
    style="box-shadow: 0 0 20px rgb(0 0 0 / 25%);"
    class="cvr">
        <img appImgs [src]="clup_details.banner" alt="">
    </div>
    <div class="container">
        <div 
        style="border:1px solid rgb(226, 225, 225)"
        class="logo my-3 px-3 rounded">
            <div class="row align-items-center">
                <!-- <div class="col-md-2 my-3">
                    <div>
                            <img appImgs 
                        style="width:150px;max-width: 100%;"
                        [src]="clup_details.logo" alt="">
                    </div>
                </div> -->
                <div class="col md-6 my-3 ">
                    <div>
                        <h2 class="mb-2">{{clup_details.name}}</h2>
                        <ngx-stars [readonly]="true" [maxStars]="5" [initialStars]="clup_details?.avg_rate"
                        color="#F89416"
                        ></ngx-stars>
                        <table>
                            <tr>
                                <td 
                                class="text-center py-2">
                                    <small class="d-block">
                                        
                                        {{'activities'|translate}}</small>
                                    <small class="text-secondary">{{clup_details.activity_count}}</small>
                                </td>
                                <td>
                                    <span class="cborder"></span>
                                </td>
                                <td 
                                class="text-center">
                                    <small class="d-block">{{'reviews'|translate}}</small>
                                    <small class="text-secondary">{{clup_details.review.length}}</small>
                                </td>
                                <td>
                                    <span class="cborder"></span>
                                </td>
                                <td class="text-center">
                                    <small class="d-block">{{'photos'|translate}}</small>
                                    <small class="text-secondary">{{clup_details.gallery.length}}</small>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="header flex-column flex-md-row  d-flex justify-content-between align-items-md-center">
            <div>
                <h2 class="mb-2">{{clup_details.name}}</h2>
                <p 
                style="font-size: 15px;"
                class="maincolor">
                    <i class="maincolor fa-solid fa-location-dot"></i>
                    <span *ngFor="let branch of clup_details?.club_branch;let l = last">
                        {{branch?.area_name}} 
                        <span *ngIf="!l">,</span>
                    </span>
                </p>
            </div>
            <div>
                <!-- <button class="mb-2 black">
                    <i class="fa-solid fa-heart"></i>
                    <span class="mx-1"></span>
                    {{'save'|translate}}
                </button>
                <span class="mx-1"></span> -->
                <a routerLink="/contact">
                    <i class="fa-solid fa-comment maincolor "></i>
                </a>
                <span class="mx-1"></span>
                <i 
                (click)="sharePopup=true"
                style="cursor: pointer;"
                class="fa-solid fa-share-nodes maincolor"></i>
          
            </div>
        </div>
        <p class="my-3" [innerHTML]="savedHtml(clup_details.description)"></p>
        <hr>
        <app-clup-activities-slider [clupid]="clup_details.id"></app-clup-activities-slider>
        <hr>
        <app-clup-store [store]="products"></app-clup-store>
        <h2 
        class="mb-2">
        <i 
        style="font-size:25px"
        class="maincolor fa-solid fa-location-dot"></i>
        {{'find_us'|translate}}</h2>
        <google-map
        height="300px"
        width="100%"
        [zoom]="12"
        [center]="center"
        [options]="options"
        >
        <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [options]="marker.options"
      >
      </map-marker>
        </google-map>
        <div class="my-2"></div>
        <ul class="list-unstyled p-0  d-flex clup-details-list">
            <li 
            (click)="gallaryOrReviews(0)"
            [class.active]="active==0">  {{'Gallery'|translate}}</li>
            <li class="mx-2"></li>
            <li 
            (click)="gallaryOrReviews(1)"
            [class.active]="active==1"> {{'reviews'|translate}}</li>
        </ul>
        <app-clup-details-gallrey 
        *ngIf="active==0"
        [gallrey]="clup_details.gallery"></app-clup-details-gallrey>
        <app-reviews 
        [reviews]="clup_details.review"
        *ngIf="active==1"></app-reviews>
    </div>
</section>


<div 

*ngIf="sharePopup"
class="cstmpopup d-flex">
    <div class="content small">
        <i 
        (click)="sharePopup=false"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>
        <div class="container">
            <h2
            class="mt-2"
            style="font-weight: 400;font-size:20px;line-height: 30px;"
            >{{'share'|translate}}</h2>
            <div class="mt-2">
                <app-share
                [link]="'clup/'+clup_details?.id"
                ></app-share>
            </div>
        </div>
    </div>
</div>