<nav
*ngIf="!hidenave"
>  
    <div class="container flex-column flex-lg-row d-flex  justify-content-lg-between py-2 align-items-lg-center">
        <div class="logo d-flex justify-content-between justify-content-lg-start align-items-center">
            <a 
            (click)="openNavbar=false"
            routerLink="/">
                <img appImgs src="assets/images/mainlogo.png" alt="join">
            </a>
            <span class="d-none d-lg-block mx-2"></span>
            <form class="position-relative">
                <input 
                (keyup.enter)="inputSearch(searchInput.value)"
                #searchInput
                [ngStyle]="           
                    {
                        'padding-right':lang=='ar' ? '30px' : '7px',
                        'padding-left':lang=='ar' ? '7px' : '30px'
                    }
                "
                name="search-bar"
                type="search" placeholder="{{'lets_explore' | translate}}">
                <i 
                (click)="filterPopup=true"
                [ngStyle]="{
                    'right':lang=='ar' ? '10px' : 'auto',
                    'left':lang=='ar' ? 'auto' : '10px'
                }"
                class="fa-solid fa-filter maincolor"></i>
            </form>
            <i 
            style="cursor: pointer;"
            (click)="openNavbar=!openNavbar"
            class="fa-solid fa-bars d-lg-none"></i>
        </div>
        <ul 
        [ngClass]="{
            'd-flex':openNavbar,
            'd-none':!openNavbar
        }"
        class="links main list-unstyled m-0 py-1 px-0  d-lg-flex align-items-lg-center flex-column flex-lg-row">
            <li><a
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                (click)="openNavbar=!openNavbar"
                routerLink="/">{{'home'|translate}}</a></li>
                <li
                ><a
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    (click)="openNavbar=!openNavbar"
                    routerLink="/store">{{'store'|translate}}</a></li>
            <!-- <li 
            class="btn-group d-none d-lg-block" dropdown>
                <a 
                (click)="openNavbar=!openNavbar"
                id="button-basic" dropdownToggle type="button" 
                aria-controls="dropdown-basic"
            >{{'store'|translate}}</a>
                <div 
                id="dropdown-basic" *dropdownMenu class="dropdown-menu store "
                    role="menu" aria-labelledby="button-basic">
                    <div class="row p-3">
                        <div class="col-md-12">
                            <p class="fw-bold maincolor m-0">
                                {{'categories'|translate}}
                            </p>
                            <hr>
                        </div>
                        <div 
                    
                        class="col-md-4 mb-3"
                        *ngFor="let item of categories">
                           <a
                           style="     white-space: nowrap;
                           overflow: hidden;
                           text-overflow: ellipsis;display: block;"
                           routerLink="/store"
                           [queryParams]="{id:item?.id}"
                           class="p-0">
                            {{lang == 'ar' ? item?.name_ar : item?.name_en}}
                           </a>
                        </div>
                    </div>
                </div>
            </li> -->
            <li><a 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                (click)="openNavbar=!openNavbar"
                routerLink="/activities">{{'activities'|translate}}</a></li>
                <!--  -->
            <ng-container >
                <li
                *ngIf="isLogin()"
                class="d-lg-none"
                ><a 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    (click)="openNavbar=!openNavbar"
                    routerLink="/profile">{{'myaccount'|translate}}</a></li>
                <!--  -->
                <li
                class="d-lg-none"
                ><a 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    (click)="openNavbar=!openNavbar"
                    routerLink="/history">{{'history'|translate}}</a></li>
                <!--  -->
                <li
                *ngIf="isLogin()"
                class="d-lg-none"
                ><a 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    (click)="openNavbar=!openNavbar"
                    routerLink="/notifications">{{'notifications'|translate}}</a></li>
                <!--  -->
                <li
                *ngIf="isLogin()"
                class="d-lg-none"
                ><a 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    (click)="openNavbar=!openNavbar"
                    routerLink="/favorite">{{'favorite'|translate}}</a></li>
                <!--  -->
                <li
                class="d-lg-none"
                ><a 
                href="https://reach.link/Join_App"
                target="_blank"
                  >{{'Follow_Us'|translate}}</a></li>
                <!--  -->
                <li
                class="d-lg-none"
                ><a 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    (click)="openNavbar=!openNavbar"
                    routerLink="/contact">{{'contactus'|translate}}</a></li>
                <!--  -->
                <li
                class="d-lg-none"
                ><a 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    (click)="openNavbar=!openNavbar"
                    routerLink="/about">{{'about_join'|translate}}</a></li>
                <!--  -->
                <li
                class="d-lg-none"
                ><a 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    (click)="openNavbar=!openNavbar"
                    routerLink="/terms">{{'terms'|translate}}</a></li>
                <!--  -->
                <li 
                role="menuitem" class='d-lg-none'>
                  <a
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact:true}"
                  (click)="openNavbar=!openNavbar"
                  routerLink="/promotion"
                  >
                      {{'promotion'|translate}}
                  </a>
                </li>
                <!--  -->
                <li 
                *ngIf="isLogin()"
                role="menuitem" class=' text-danger d-lg-none'>
                  <a
                  (click)="openNavbar=!openNavbar;showDeleteAccountPopup=1"
                  style="cursor: pointer;"
                  >
                      {{'delete_account'|translate}}
                  </a>
                </li>
                <!--  -->
                <li 
                *ngIf="isLogin()"
                role="menuitem" class=' d-lg-none'>
                  <a
                  style="cursor: pointer;"
                  (click)="logout()"
                  >
    
                      {{'logout'|translate}}
                  </a>
                </li>
                <li 
                class="d-lg-none"
                *ngIf="!isLogin()"
             ><a 
                    (click)="openNavbar=!openNavbar"
                    routerLink="/auth/login">{{'signin'|translate}}
                </a>
                </li> 
            </ng-container>
            
            <!-- <li><a 
                (click)="openNavbar=!openNavbar"
                routerLink="/store">{{'aboutus'|translate}}</a></li> -->
         
            <li class="lang">
                <a 
                style="cursor:pointer"
                (click)="selectLang(lang=='ar'?'en':'ar');openNavbar=!openNavbar"
                > {{lang=='ar'?'EN':'AR'}}</a></li>
      
            <li 
   
            class="lang">
                <div class="additionicons">
                    <a 
                    (click)="openNavbar=!openNavbar"
                    routerLink="/cart" class="position-relative">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span 
                        *ngIf="cartitemsCount"
                        class="cartcount">{{cartitemsCount}}</span>
                    </a>
                    <ng-container
                    *ngIf="isLogin()"
                    >
                        <a 
                        class="mx-2"
                        routerLink="/favorite">
                            <i class="fa-solid fa-heart"></i>
                        </a>
                        <a  routerLink="/notifications">
                            <i class="fa-solid fa-bell"></i>
                        </a>
                    </ng-container>
                    
                </div>
            </li>
            <li 
            class="d-none d-lg-block lang position-relative subparent lang"> 
                <div class="btn-group" dropdown>
                    <a 
                    style="  -webkit-user-select: none; /* Safari */
                    -ms-user-select: none; /* IE 10 and IE 11 */
                    user-select: none; /* Standard syntax */"
                    id="button-basic" dropdownToggle type="button" class="username"
                            aria-controls="dropdown-basic">
                          <span *ngIf="isLogin()">
                            {{userName|uppercase}}
                          </span>
                          <span *ngIf="!isLogin()">
                             {{'guest'|translate}}
                          </span>
                            <span class="caret"></span>
                    </a>
                    <ul 
                    style="max-height: 70vh;overflow: auto;"
                    id="dropdown-basic" *dropdownMenu class="dropdown-menu cstm"
                        role="menu" aria-labelledby="button-basic">
                    <li role="menuitem">
                        <img appImgs src="assets/images/bg.jpg" 
                        style="height: 130px;object-fit: cover;"
                        class="w-100" alt="join">
                    </li>
                    <li 
                    *ngIf="isLogin()"
                    class="text-center first">
                        <span class="maincolor d-block">
                            {{userdata?.fname | titlecase}}  {{userdata?.lname | titlecase}}
                        </span>
                        <span class="text-secondary d-block" style="word-wrap: break-word;">
                            {{userdata?.email}}
                        </span>
                    </li>
                      <li 
                      *ngIf="isLogin()"
                      role="menuitem" class='lang'>
                        <a 
                        routerLink="/profile"
                        >
                            <i class="fa-regular fa-user maincolor"></i>
                            {{'myaccount'|translate}}
                        </a>
                      </li>
                      <li role="menuitem" class='lang'>
                        <a
                        routerLink="/history"
                        >
                        <i class="fa-regular fa-clock maincolor"></i>
                            {{'history'|translate}}
                        </a>
                      </li>
                      <!--  -->
                      <li 
                      *ngIf="isLogin()"
                      role="menuitem" class='lang'>
                        <a
                    routerLink="/notifications"
                    >
                        <i class="fa-solid fa-bell maincolor"></i>
                        {{'notifications'|translate}}
                    </a>
                      </li>
                      <li 
                      *ngIf="isLogin()"
                      role="menuitem" class='lang'>
                        <a
                        routerLink="/favorite"
                        >
                        <i class="fa-solid fa-heart maincolor"></i>
                            {{'favorite'|translate}}
                        </a>
                      </li>

                      <li role="menuitem" class='lang'>
                        <a
                        href="https://reach.link/Join_App"
                        target="_blank"
                        >
                        <i class="fa-solid fa-headset maincolor"></i>
                            {{'Follow_Us'|translate}}
                        </a>
                      </li>
                      <li role="menuitem" class='lang'>
                        <a
                        routerLink="/contact"
                        >
                        <i class="fa-solid fa-phone maincolor"></i>
                            {{'contactus'|translate}}
                        </a>
                      </li>
                      <li role="menuitem" class='lang'>
                        <a
                        routerLink="/about"
                        >
                        <i class="fa-solid fa-question maincolor"></i>
                            {{'about_join'|translate}}
                        </a>
                      </li>
                      <li role="menuitem" class='lang'>
                        <a
                        routerLink="/terms"
                        >
                        <i class="fa-solid fa-exclamation maincolor"></i>
                            {{'terms'|translate}}
                        </a>
                      </li>
                      <li role="menuitem" class='lang'>
                        <a
                        routerLink="/promotion"
                        >
                        <i class="fa-solid fa-percent maincolor "></i>
                            {{'promotion'|translate}}
                        </a>
                      </li>
                      <li 
                      *ngIf="isLogin()"
                      role="menuitem" class='lang'>
                        <a
                        class="text-danger"
                        (click)="showDeleteAccountPopup=1"
                        style="cursor: pointer;"
                        >
                        <i class="fa-solid fa-trash text-danger"></i>
                            {{'delete_account'|translate}}
                        </a>
                      </li>
                      <li 
                      *ngIf="isLogin()"
                      role="menuitem" class='lang'>
                        <a
                        style="cursor: pointer;"
                        (click)="logout()"
                        >
                        <i class="fa-solid fa-arrow-right-from-bracket maincolor"></i>
                            {{'logout'|translate}}
                        </a>
                      </li>
 
                      <li 
                      *ngIf="!isLogin()"
                      class="lang "><a 
                          (click)="openNavbar=!openNavbar"
                          routerLink="/auth/login">
                          <i class="fa-solid fa-arrow-right-from-bracket maincolor"></i>
                          {{'signin'|translate}}</a>
                        </li> 
                    </ul>
                  </div>
            </li>  
        
                <!-- <li
                *ngIf="isLogin()"
                style="cursor: pointer;"
                class="d-lg-none"
                ><a 
     
                    (click)="logout()"
           >{{'logout'|translate}}</a></li> -->
                <!--  --> 
 
        </ul>
    </div>
</nav>            

<!--  -->
<div 
[ngClass]="{
    'd-flex':filterPopup,
    'd-none':!filterPopup
}"
*ngIf="filterPopup"
class="cstmpopup">
    <div class="content">
        <i 
        (click)="filterPopup=false"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>
                <app-filter (closefilterpopup)="filterPopup=false"></app-filter>
    </div>
</div>
<!--  -->
<div 
[ngClass]="{
    'd-flex':showPopup,
    'd-none':!showPopup
}"

*ngIf="showPopup"
class="cstmpopup mainswiper">
    <div 
    style="overflow: hidden;padding:0"
    class="content images">
        <i 
        style="z-index: 111111111111;"
        (click)="showPopup=false"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>

        <swiper 
        [ngStyle]="{'direction': lang=='ar' ? 'rtl' : 'ltr'}"
        style="text-align:right;height:99%;" 
        [loop]="false" 
        [autoHeight]="true" 
        [allowTouchMove]="true"
        [autoplay]="false" 
        [pagination]="{ clickable: true }" 
        [navigation]="true"
        >

        <ng-container
        *ngFor="let item of sliderContent" 
        >
            <ng-template
            style="height:90%"
      data-swiper-autoplay="6000" swiperSlide>
                <div 
               
                style="margin: 25px 0;height:90vh;padding: 20px 20px 100px 20px;">

                    <a 
                    (click)="showPopup=false"
                    [routerLink]="checkRouting(item)"
                    >
                        <img 
                        appImgs
                        style="height:99%;"
                        class="w-100 "            
                        [src]="item?.image_url" alt="">
                    </a>
                    
                </div>
            </ng-template>
        </ng-container>
        

        </swiper>
    </div>
</div>
<!--  -->
<div 
[ngClass]="{
    'd-flex':showDeleteAccountPopup!=-1,
    'd-none':showDeleteAccountPopup==-1
}"
class="cstmpopup ">
    <div class="content small">
        <i 
        (click)="showDeleteAccountPopup=-1"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>
        <div class="container">
            <h2
            style="font-weight: 400;font-size:20px;line-height: 30px;"
            >{{'delete_account_confirm'|translate}}</h2>
            <div class="mt-4 d-flex justify-content-end  ">
                <div>
                    <button 
                    (click)="deleteMyAccount()"
                    class="btn btn-danger">
                        {{'delete'|translate}}
                        <i 
                        *ngIf="deleteAccountLoading"
                        class="fas fa-circle-notch fa-spin"></i>
                    </button>
                    <span class="mx-2"></span>
                    <button 
                    (click)="showDeleteAccountPopup=-1"
                    class="btn btn-warning">
                        {{'cancel'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div
[ngStyle]="{
    'right': lang=='ar' ? 'auto' : '10px',
    'left': lang=='ar' ? '10px' : 'auto'
}"
style="position: fixed;bottom:10px;z-index: 11111;"
>
    <a 
    style="
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 15%);
    width:50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;"
    target="_blank"
    href="https://apps.apple.com/eg/app/join-%D8%AC%D9%88%D9%8A%D9%86/id1464036538"
    class="mb-2">
        <i 
        style="font-size: 25px;"
        class="fa-brands fa-apple maincolor"></i>
    </a>
    <a 
    style="
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 15%);
    width:50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;"
    target="_blank"
    href="https://play.google.com/store/apps/details?id=com.joinkw" >
    <i 
    style="font-size: 25px;"
    class="fa-brands fa-google-play maincolor"></i>
    </a>
</div>