<nav
*ngIf="!hidenave"
>  
    <div class="container flex-column flex-lg-row d-flex  justify-content-lg-between py-2 align-items-lg-center">
        <div class="logo d-flex justify-content-between justify-content-lg-start align-items-center">
            <a 
            (click)="openNavbar=!openNavbar"
            routerLink="/">
                <img src="assets/images/mainlogo.png" alt="join">
            </a>
            <span class="d-none d-lg-block mx-2"></span>
            <div class="position-relative">
                <input 
                (keyup.enter)="inputSearch(searchInput.value)"
                #searchInput
                [ngStyle]="           
                    {
                        'padding-right':lang=='ar' ? '30px' : '7px',
                        'padding-left':lang=='ar' ? '7px' : '30px'
                    }
                "
                type="text" placeholder="{{'lets_explore' | translate}}">
                <i 
                (click)="filterPopup=true"
                [ngStyle]="{
                    'right':lang=='ar' ? '10px' : 'auto',
                    'left':lang=='ar' ? 'auto' : '10px'
                }"
                class="fa-solid fa-filter maincolor"></i>
            </div>
            <i 
            style="cursor: pointer;"
            (click)="openNavbar=!openNavbar"
            class="fa-solid fa-bars d-lg-none"></i>
        </div>
        <ul 
        [ngClass]="{
            'd-flex':openNavbar,
            'd-none':!openNavbar
        }"
        class="links list-unstyled m-0 py-1 px-0  d-lg-flex flex-column flex-lg-row">
            <li><a
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                (click)="openNavbar=!openNavbar"
                routerLink="/">{{'home'|translate}}</a></li>
            <li><a 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                (click)="openNavbar=!openNavbar"
                routerLink="/store">{{'store'|translate}}</a></li>
            <li><a 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                (click)="openNavbar=!openNavbar"
                routerLink="/activities">{{'activities'|translate}}</a></li>
                <!--  -->
            <ng-container *ngIf="isLogin()">
                <li
                class="d-lg-none"
                ><a 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    (click)="openNavbar=!openNavbar"
                    routerLink="/profile">{{'myaccount'|translate}}</a></li>
                <!--  -->
                <li
                class="d-lg-none"
                ><a 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    (click)="openNavbar=!openNavbar"
                    routerLink="/notifications">{{'notifications'|translate}}</a></li>
                <!--  -->
                <li
                class="d-lg-none"
                ><a 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    (click)="openNavbar=!openNavbar"
                    routerLink="/favorite">{{'favorite'|translate}}</a></li>
                <!--  -->
            </ng-container>
            
            <li><a 
                (click)="openNavbar=!openNavbar"
                routerLink="/store">{{'aboutus'|translate}}</a></li>
            <li class="lang">
                <a 
                style="cursor:pointer"
                (click)="selectLang(lang=='ar'?'en':'ar');openNavbar=!openNavbar"
                > {{lang=='ar'?'en':'ar'}}</a></li>
            <li 
            *ngIf="!isLogin()"
            class="lang signinbtn"><a 
                (click)="openNavbar=!openNavbar"
                routerLink="/auth/login">{{'signin'|translate}}</a></li>
            <li 
            *ngIf="isLogin()"
            class="lang">
                <div class="additionicons">
                    <a>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                    <a routerLink="/favorite">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                    <a  routerLink="/notifications">
                        <i class="fa-solid fa-bell"></i>
                    </a>
                </div>
            </li>
            <li
            *ngIf="isLogin()"
            class="d-none d-lg-block lang position-relative subparent">
                <a 
                class="username">
                  {{userName|uppercase}}
                </a>
                <div
                [ngStyle]="{
                    'right':lang=='ar'?'auto':'0',
                    'left':lang=='ar'?'0':'auto'
                }"
                class="submenu">
                    <a 
                    routerLink="/profile"
                    >
                        <i class="fa-regular fa-user maincolor"></i>
                        {{'myaccount'|translate}}
                    </a>
                    <a
                    routerLink="/notifications"
                    >
                        <i class="fa-solid fa-bell maincolor"></i>
                        {{'notifications'|translate}}
                    </a>
                    <a
                    routerLink="/favorite"
                    >
                    <i class="fa-solid fa-heart maincolor"></i>
                        {{'favorite'|translate}}
                    </a>
                    <a
                    routerLink="/history"
                    >
                    <i class="fa-regular fa-clock maincolor"></i>
                        {{'history'|translate}}
                    </a>
                </div>
            </li>
      
        </ul>
    </div>
</nav>            

<!--  -->
<div 
[ngClass]="{
    'd-flex':filterPopup,
    'd-none':!filterPopup
}"
*ngIf="filterPopup"
class="cstmpopup">
    <div class="content">
        <i 
        (click)="filterPopup=false"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>
                <app-filter (closefilterpopup)="filterPopup=false"></app-filter>
    </div>
</div>
