<!-- <section style="min-height:100vh">

</section>
<div 
class="cstmpopup">
    <div class="content payment suc">
        
        <div class="text-center">
            <img src="assets/images/mainlogo.png" alt="" 
            style="width:100px"
            >
            <div 
            style="
            width:100px;height: 100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin:20px auto;
            border:2px solid #00DCDC"
            class="text-center">
                <i 
                style="font-size:50px"
                class="fa-solid fa-check maincolor"></i>
            </div>
            <h2 class="maincolor">
                {{"success"|translate}}
            </h2>
            <h2
            class="my-2"
            style="font-weight: 400;font-size:20px;line-height: 30px;text-align: center;"
            >{{'The_request_being_saved'|translate}}
            </h2>
            <div class="text-center">
                <i 
                class="fas fa-circle-notch fa-spin maincolor"></i>
            </div>
        </div>
    </div>
</div> -->