<app-laoding *ngIf="loading"></app-laoding>
<section *ngIf="product_details&&!loading" style="min-height: 100vh;" class="details-page">
    <div
    *ngIf="product_details.image&&!product_details.images"
    class="cvr">
        <img appImgs [src]="product_details.image" alt="Join">
    </div>
    <div
    *ngIf="product_details.images"
    class="cvr">
        <swiper 
        [ngStyle]="{'direction': lang=='ar' ? 'rtl' : 'ltr'}"
        style="text-align:right" 
        [loop]="false" 
        [autoHeight]="true" 
        [allowTouchMove]="true"
        [autoplay]="{ delay: 1000, disableOnInteraction: false }" 
        [pagination]="{ clickable: true }" 
        [navigation]="true"
        >
            <ng-template *ngFor="let item of product_details.images" data-swiper-autoplay="6000" swiperSlide>
                <div style="height:70vh;">
                    <img appImgs  alt="join" [src]="item?.path">
                </div>
            </ng-template>
        </swiper>
    </div>

    <div class="container">
        <div class="header mt-3 flex-column flex-md-row  d-flex justify-content-between align-items-md-center">
            <h2 class="mb-2">{{product_details.name}}</h2>
            <div>
                <!-- <button class="mb-2 black">
                    <i class="fa-solid fa-heart"></i>
                    <span class="mx-1"></span>
                    {{'save'|translate}}
                </button>
                <span class="mx-1"></span> -->
                <button class="mb-2">
                    <!-- share details page not join web -->
                    <a 
                    target="_blank"
                    class="text-white"
                    href="https://www.facebook.com/sharer.php?u=http://localhost:4200/#/product/85"
                    >
                        <i class="fa-solid fa-share"></i>
                        <span class="mx-1"></span>
                        {{'share'|translate}}
                    </a>
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-8 mb-4">
                <div class="cash">
                    <div class="d-flex">
                        <p  class="maincolor">
                            <img appImgs 
                            style="width: 30px;"
                            src="assets/images/cash.svg" alt="Join">
                            <span class="mx-1"></span>
                            {{product_details.price}} 
                            {{'kwd'|translate}}
                        </p>
                       <ng-container *ngIf="product_details.pre_price!=product_details.price">
                        <span class="mx-2"></span>
                        <p  class="orangecolor">
                           
                            <del>
                                {{product_details.pre_price}} 
                                {{'kwd'|translate}}
                            </del>
                        </p>
                       </ng-container>
                       
                    </div>
                  <ng-container *ngIf="product_details.description">
                    <p [innerHTML]="savedHtml(product_details.description)" class="mt-3"></p>
                    <hr>
                  </ng-container>
                    <div 
                    *ngIf="product_details?.product_colors?.length"
                    class="my-3 colorsContainer">
                        <h2 class="mb-3">{{'colors'|translate}}</h2>
                        <ul class="d-flex flex-wrap list-unstyled p-0 m-0">
                            <li 
                            (click)="selectedColor=color"
                            [class.active]="selectedColor?.name==color?.name"
                            *ngFor="let color of product_details?.product_colors">
                                <span
                                [style.background]="color?.name"
                                ></span>
                            </li>
                        </ul>
                    </div>
                    <hr *ngIf="product_details?.product_sizes?.length && product_details?.product_colors?.length">
                    <div 
                    *ngIf="product_details?.product_sizes?.length"
                    class="my-3 colorsContainer">
                        <h2 class="mb-3">{{'sizes'|translate}}</h2>
                        <ul class="d-flex flex-wrap list-unstyled p-0 m-0">
                            <li 
                            style="cursor: pointer;"
                            (click)="selectSize(size)"
                            [class.active]="selectedSize?.name==size?.name"
                            *ngFor="let size of product_details?.product_sizes">
                                {{size?.name}}
                            </li>
                        </ul>
                    </div>
                    <div 
                    *ngIf="product_details.delivery_notes"
                    style="border: 1px solid #e3e3e3;
                    border-radius: 5px;
                    padding: 20px;"
                    class="delivrydetails my-5 d-flex align-items-center">
                        <div>
                            <i 
                            style="font-size: 50px;"
                            class="fa-solid fa-truck maincolor"></i>
                        </div>
                        <span class="mx-3"></span>
                       <div>
                        <p class="maincolor mb-1">
                            {{'delivery_notes'|translate}}
                        </p>
                        <p 
                        class="m-0 delivery_notes"
                        [innerHTML]="savedHtml(product_details.delivery_notes)"></p>
                       </div>
                    </div>

                </div>
          
            </div>
            <!--  -->
            <div class="col-lg-4 mb-4">
                <div class="book-now bg-white p-3 rounded position-relative">
                    <div
                    [ngStyle]="{
                        'left': lang=='ar' ? '10px' : 'auto',
                        'right': lang=='ar' ? 'auto' : '10px'
                    }"
                    *ngIf="product_details?.discount_percent&&product_details?.discount_percent!='0.0 %'"
                    style="width:90px;height:60px;position: absolute;top: 0;">            
                        <img appImgs 
                        style="width:90px;height:60px;position: absolute;top: 0;left:10px"
                        src="assets/images/discount.svg" alt="" >
                        <span 
                        style="color:white;position: absolute;top: 0;left:33px;font-size: small;">
                            {{product_details?.discount_percent}}
                        </span>
                    </div>
                    <!-- <p class="maincolor" style="margin-bottom: 2px">
                        {{'special_order'|translate}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                        </svg>
                    </p> -->
                    <p class="m-0">{{product_details.name}}</p>
                    <div class="d-flex">
                        <p  class="maincolor">
                            <img appImgs 
                            style="width: 30px;"
                            src="assets/images/cash.svg" alt="Join">
                            <span class="mx-1"></span>
                            {{product_details.price}} 
                            {{'kwd'|translate}}
                        </p>
                        <ng-container *ngIf="product_details.pre_price!=product_details.price">
                            <span class="mx-2"></span>
                            <p  class="orangecolor">
                             
                                <del>
                                    {{product_details.pre_price}}
                                    {{'kwd'|translate}}
                                </del>
                            </p>
                        </ng-container>
                        
                    </div>
                    <div  class="plusminus my-2 text-center">
                        <i 
                        (click)="minusone()"
                        class="fa-solid fa-minus"></i>
                        <span class="mx-2 count">
                            {{countToBuy}}
                        </span>
                        <i 
                        (click)="plusone()"
                        class="fa-solid fa-plus"></i>
                    </div>
                    <button 
                    (click)="addToCart()"
                    class="w-100 mt-3 book">
                        
                        {{'addtocart'|translate}} 
                        <span  *ngIf="countToBuy>0">
                            |
                        </span>
                        {{product_details.price*countToBuy|tofixednumber}} 
                       <span
                       *ngIf="countToBuy>0"
                       >
                        {{'kwd'|translate}} 
                       </span>
                    </button>
                </div>
            </div>
            <!--  -->
            <div *ngIf="product_details?.related_products?.length">
                <h2 class="my-2">{{'related_product'|translate}}</h2>
                <app-related-products [relatedProducts]="product_details?.related_products"></app-related-products>
            </div>
        </div>
    </div>
</section>