<app-shared-header 
*ngIf="!loading"
header="order_details"></app-shared-header>
<section 

class="container"
style="min-height: 100vh;">
 <app-laoding *ngIf="loading"></app-laoding>
<ng-container *ngIf="!loading&&historyDetails">
    <table class="mb-3">
        <tr>
            <td>{{'order_id'|translate}} :</td>
            <td>{{historyDetails?.order_id}}</td>
        </tr>
        <tr>
            <td>{{'date'|translate}} :</td>
            <td>{{historyDetails?.created_at|date}}</td>
        </tr>
       </table>
    <div
    *ngIf="historyDetails?.booked_activity?.length"
    class="row mb-4">
     <div class="col-md-12 mb-3">
        <div>
            <h3>
                {{'activities'|translate}}
            </h3>
        </div>
     </div>
        <div 
        *ngFor="let item of historyDetails?.booked_activity"
        class="col-md-6 col-lg-4 mb-3">
            <div 
            class="rounded p-3 h-100"
            style="box-shadow: 0 3px 10px 0 rgb(0 0 0 / 15%);">
                    <a 
                    style="color: black;"
                    [routerLink]="'/activity/'+(item?.activity_id||item?.id)">
                        <img appImgs 
                        style="height: 240px;"
                        [src]="item?.activity_image||item?.banner" alt="join" class="w-100 mb-2">
                <h5>{{item?.activity_name}}</h5>
                <p class="maincolor my-2">
                    <img appImgs 
                    style="width: 20px;"
                    src="assets/images/cash.svg" alt="Join"> 
                    <span 
                    *ngIf="isLogin()"
                    >
                    {{item?.booking_amount|tofixednumber}}
                    </span>
                    <span 
                    *ngIf="!isLogin()"
                    >
                    {{item?.selectedLocation.price * item?.notUserMembersCount}}
                    </span>
                    {{'kwd'|translate}}
                    <span class="mx-1"></span>
                    <span 
                    *ngIf="(item?.booking_amount_type=='FREE') || (item?.selectedLocation?.price_type=='FREE')"
                    class="orangecolor">
                        {{'free'|translate}}
                    </span>
                    <span 
                    *ngIf="(item?.booking_amount_type=='PRICE') || (item?.selectedLocation?.price_type=='PRICE')"
                    class="orangecolor">
                        {{'paid'|translate}}
                    </span>
                    <span 
                    *ngIf="item?.booking_amount_type=='PAY_AT_PLACE' || (item?.selectedLocation?.price_type=='PAY_AT_PLACE')"
                    class="orangecolor">
                        {{'Pay_At_Venue'|translate}}
                    </span>
                </p>
                <div class="d-flex">
                    <p
                    *ngIf="!isLogin()"
                    class="m-0">
                        {{'booking_for_one_member'|translate}} 
                        {{item?.notUserMembersCount}}
                        {{'member'|translate}}
                    </p> 
                    <p 
                    *ngIf="isLogin()"
                    class="m-0">
                        {{'booking_for_one_member'|translate}} 
                        {{item?.child_count}}
                        {{'member'|translate}}
                    </p> 
                    <span class="mx-1"></span>
                    <p
                    [ngStyle]="{
                        'border-left': lang=='ar' ? 'none' : '1px solid #d3cfcf',
                        'border-right': lang=='ar' ? '1px solid #d3cfcf' : 'none',
                        'padding-left': lang=='ar' ? '0' : '5px',
                        'padding-right': lang=='ar' ? '5px' : '0'
                }"
                    >
                        {{item?.selected_date|| (item?.selectedDate | date)}}
                    </p>
                </div>
                    </a>
                    <div class="d-flex justify-content-between  ">
                        <ul class="d-flex p-0 m-0 list-unstyled historyicons">
                            <li>
                                <a 
                                [routerLink]="'/activity/'+(item?.activity_id||item?.id)"
                                style="color:white"
                                >
                                    <i class="fa-solid fa-rotate-left"></i>
                                </a>
                            </li>
                            <li class="mx-1"></li>
                            <li *ngIf="isLogin()">
                                <i 
                                (click)="latitude=item?.branch_data?.latitude;longitude=item?.branch_data?.longitude;map=true"
                                class="fa-solid fa-location-dot"></i>
                            </li>
                            <li
                            *ngIf="!isLogin()"
                            >
                                <i 
                                (click)="latitude=item?.selectedLocation?.branch?.latitude;longitude=item?.selectedLocation?.branch?.longitude;map=true"
                                class="fa-solid fa-location-dot"></i>
                            </li>
                        </ul>
                        <p 
                        *ngIf="isLogin()"
                        (click)="getRateData(item)"
                        style="cursor: pointer;"
                        class="orangecolor">
                            <i class="fa-solid fa-star"></i>
                            {{'submit_review'|translate}}
                        </p>
                    </div>
                  
            </div>
        </div>
    </div>
    <div
    *ngIf="historyDetails?.booked_products?.length"
    class="row mb-4">
     <div class="col-md-12 mb-3">
        <div>
            <h3>
                {{'products'|translate}}
            </h3>
        </div>
     </div>
        <div 
        *ngFor="let item of historyDetails?.booked_products"
        class="col-md-6 col-lg-4 mb-3">
            <div 
            class="rounded p-3 h-100"
            style="box-shadow: 0 3px 10px 0 rgb(0 0 0 / 15%);position:relative">
            <!-- <div 
            *ngIf="(!isLogin()&&returnGuestDiscount(item)!=0) || 
            (isLogin()&&item?.booking_discount&&item?.booking_discount!='0.0 %')
            "
            class="imgPart">
                   
                <img appImgs 
                [ngStyle]="{
                    'right': lang=='ar' ? 'auto' : '2px',
                    'left': lang=='ar' ? '2px' : 'auto'
                }"
              
                style="width:90px;height:60px;position: absolute;top: 0"
                src="assets/images/discount.svg" alt="" >
                <div
                [ngStyle]="{
                    'right': lang=='ar' ? 'auto' : '2px',
                    'left': lang=='ar' ? '2px' : 'auto'
                }"
                style="color:white;position: absolute;top: 0;font-size: small;text-align: center;width: 90px;height:60px;line-height:45px;"
                >
                    <span 
                    style="color:white;font-size: small;">
                        {{isLogin()?(item?.booking_discount|tofixednumber):returnGuestDiscount(item)}} 
                    </span>
                </div>
            
            </div> -->
                    <a 
                    style="color: black;"
                    [routerLink]="'/product/'+(item?.product_id||item?.id)">
                    <div 
                    style="max-width: 80%;"
                    class="d-flex">
                        <div>
                            <img appImgs 
                            style="width:100px;height: 100%;object-fit: contain;"
                            [src]="item?.product_image||item?.image" alt="join">
                        </div>
                        <span class="mx-2"></span>
                        <div>
                            <h5>{{item?.product_name||item?.name}}</h5>
                            <p 
                            class="d-flex mb-1"
                            *ngIf="item?.color_name||item?.selectedColor?.name">
                                {{'color'|translate}} : 
                                <span class="mx-1"></span> 
                                <span
                                [style.background]="item?.color_name||item?.selectedColor?.name"
                                style="    display: inline-block;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;"
                                ></span>
                            </p>
                            <p 
                            class="mb-1"
                            *ngIf="item?.size_name||item?.selectedSize?.name">
                            {{'size'|translate}} : 
                                {{item?.size_name||item?.selectedSize?.name}}
                            </p>
                            <p 
                            class="mb-1"
                            *ngIf="item?.qty||item?.countToBuy">
                            {{'qty'|translate}} : 
                                {{isLogin()  ? item?.qty:item?.countToBuy}}
                            </p>
                            <p class="maincolor m-0">
                                <img appImgs 
                                style="width: 20px;"
                                src="assets/images/cash.svg" alt="Join"> 
                                {{(item?.booking_amount|tofixednumber)||(item?.price*item?.countToBuy|tofixednumber)}}
                                {{'kwd'|translate}}
                            </p>
                        </div>
                    </div>
                   

                    </a>
                
            </div>
        </div>
    </div>
    <ng-container
    *ngFor="let item of historyDetails?.prices"
    >
        <p 
        [style.color]="item?.color"
        *ngIf="item?.value"
        class="d-flex justify-content-between align-items-center fw-bold">
            <span>{{item?.key}} </span>
            <span>{{item?.value|tofixednumber}} {{'kwd'|translate}}</span>
        </p>
    </ng-container>
    
  

</ng-container>
<ng-container *ngIf="!loading&&!historyDetails">
    <p    
    class="text-secondary fw-bold text-center">
       {{'no_data'|translate}}
    </p>
</ng-container>

</section>

<div 

*ngIf="map"
class="cstmpopup d-flex">
    <div class="content small">
        <i 
        (click)="map=false"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>
        <div class="container">
            <h2
            class="mt-2"
            style="font-weight: 400;font-size:20px;line-height: 30px;"
            >{{'direction'|translate}}</h2>
            <div class="mt-2">
                <app-map
                [latitude]="latitude"
                [longitude]="longitude"
                ></app-map>
            </div>
        </div>
    </div>
</div>

<div 

*ngIf="ratePopup"
class="cstmpopup d-flex">
    <div class="content small">
        <i 
        (click)="ratePopup=false"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>
        <div class="container">
            <h2
            class="mt-1"
            style="font-weight: 400;font-size:20px;line-height: 30px;"
            >{{'review'|translate}}</h2>
            <div class="mt-2">
                <app-submit-rate
                (closePopup)="ratePopup=false"
                [rateData]="rateData"
                ></app-submit-rate>
            </div>
        </div>
    </div>
</div>