<section class="signup p-4">
    <h1>
        {{'Be_Part_Of_The_Adventure'|translate}}
    </h1>
    <p class="mb-4">{{'insert_your_phone_number'|translate}}</p>
    <form 
    class="row"
    (ngSubmit)="signUp(signupForm.value)"
    [formGroup]="signupForm"
    >
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input 
                formControlName="fname"
                type="text" placeholder="{{'first_name'|translate}}">
            </div>
        </div>
        <!--  -->
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input 
                formControlName="lname"
                type="text" placeholder="{{'last_name'|translate}}">
            </div>
        </div>
        <!--  -->
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <ngx-intl-tel-input
                [cssClass]="'custom'"
                [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[
                  SearchCountryField.Iso2,
                  SearchCountryField.Name
                ]"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.Kuwait"
                [maxLength]="15"
                [phoneValidation]="false"
                [separateDialCode]="separateDialCode"
                [numberFormat]="PhoneNumberFormat.National"
                [customPlaceholder]="lang ? 'Phone Number' : 'رقم الهاتف'"
                name="mobile"
                formControlName="mobile"
              >
              </ngx-intl-tel-input>
            </div>
        </div>
        <!--  -->
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input 
                formControlName="dob"
                #dobirth
                (blur)="dateInputType(dobirth)"
                (change)="dateInputType(dobirth)"
                (focus)="dobirth.type='date'"
                type="text" placeholder="{{'dob'|translate}}">
            </div>
        </div>
        <!--  -->

        <div class="col-md-6 mb-3">
            <div class="form-group">
                <select 
                formControlName="area_id"
          >
                    <option value="" selected>{{'area'|translate}}</option>
                    <optgroup 
                    *ngFor="let area of areas"
                    [label]="area?.gov">
                      <option 
                      *ngFor="let item of area?.areas"
                      [value]="item?.id">{{item?.name}}</option>
                    </optgroup>
                  </select>
            </div>
        </div>
        <!--  -->
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input 
                formControlName="email"
                type="email" placeholder="{{'email'|translate}}">
            </div>
        </div>
        <!--  -->
        <div class="col-md-12 mb-3">
            <div>
                <button class="mb-2">{{'signup'|translate}}</button>
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div>
                <p>
                    {{'Already_have_account'|translate}}
                    <a routerLink="/auth/login">{{'signin'|translate}}</a>
                </p>
            </div>
        </div>
    </form>
</section>