<app-laoding *ngIf="loading"></app-laoding>
<section *ngIf="activity_details && !loading" style="min-height: 100vh;" class="details-page">
    <div class="cvr">
        <img [src]="activity_details.banner" alt="">
    </div>
    <div class="container">
        <div class="header mt-3 flex-column flex-md-row  d-flex justify-content-between align-items-md-center">
            <h2 class="mb-2">{{activity_details.title}}</h2>
            <div>
                <!-- <button class="mb-2 black">
                    <i class="fa-solid fa-heart"></i>
                    <span class="mx-1"></span>
                    {{'save'|translate}}
                </button>
                <span class="mx-1"></span> -->
                <button class="mb-2">
                    <i class="fa-solid fa-share"></i>
                    <span class="mx-1"></span>
                    {{'share'|translate}}
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-8">
                <div class="cash">
                    <div class="flex-column flex-md-row  d-flex justify-content-between align-items-md-center">
                        <h2 *ngIf="activity_details.location.length" class="mb-1">
                            {{activity_details.location[0].branch.area_name}}
                            | {{ activity_details.age_from + '-' + activity_details.age_to }} {{'years'|translate}} |
                        </h2>
                        <p *ngIf="activity_details.location.length" class="orangecolor mb-1">
                            <img 
                            style="width: 30px;"
                            src="assets/images/cash.svg" alt="">
                            <span class="mx-1"></span>
                            {{activity_details.location[0].price}} 
                            {{'kwd'|translate}}
                        </p>
                    </div>
                    <p [innerHTML]="savedHtml(activity_details.description)" class="mt-3"></p>
                    <hr>
                    <div class="clup-details d-md-flex align-items-md-center">
                        <img style="width:120px" class="mb-1" [src]="activity_details.club_details.logo" alt="join">
                        <span class="mx-2"></span>
                        <h3 class="maincolor mb-1" style="font-size: 20px;">{{activity_details.club_details.name}}</h3>
                    </div>
                    <hr>
                    <div class="Schedule">
                        <h2 class="mb-1">{{'Schedule'|translate}}</h2>
                        <p class="text-center" [innerHTML]="savedHtml(activity_details.schedule)"></p>
                    </div>
                    <div 
                    *ngIf="activity_details.gallery?.length"
                    class="gallarey">
                        <h2 class="mb-1">{{'Gallery'|translate}}</h2>
                        <swiper class="mrginBottom" style="direction: ltr;text-align:right" [config]="swpieroptions">

                            <ng-container *ngFor="let item of activity_details.gallery;let i = index">
                                <ng-template swiperSlide>
                                    <div>
                                        <div style="position: relative;height: 400px;box-shadow: 0 0 20px rgb(0 0 0 / 25%);border: 1px solid #ebeef5;">
                                            <img style="height: 100%;" class="w-100" [src]="item.photo_name" alt="join">
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>

                        </swiper>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-lg-4 mb-4">
                <div class="book-now bg-white p-3 rounded">
                    <p class="maincolor" style="margin-bottom: 2px">
                        {{'special_order'|translate}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                        </svg>
                    </p>
                    <p class="m-0">{{activity_details.title}}</p>
                    <div class="my-1">
                        <i class="maincolor fa-solid fa-location-dot"></i>
                        <span class="mx-1"></span>
                        <small *ngIf="activity_details.location?.length"> 
                            {{activity_details.location[0].branch.area_name}}
                            | {{ activity_details.age_from + '-' + activity_details.age_to }} {{'years'|translate}} |
                        </small>
                    </div>
                    <div *ngIf="activity_details.location?.length">
                        <small class="maincolor ">{{'price'|translate}}: </small>
                        <span class="mx-1"></span>
                        <small class="orangecolor">      {{activity_details.location[0].price}} 
                            {{'kwd'|translate}}    
                        </small>
                    </div>
                    <button 
                    (click)="checkCartItems()"
                    class="w-100 mt-3 book">{{'book_now'|translate}}</button>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</section>
<!-- start add activity popup -->
<div 

*ngIf="showpopup"
class="cstmpopup d-flex">
    <div class="content add-member">
        <i 
        (click)="showpopup=false"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>
        <h2
        class="mb-4"
        style="font-weight: 400;font-size:20px;line-height: 30px;"
        >{{'book_now'|translate}}</h2>

     
           <app-book-now
           (patchActivityToParent)="selectedDataFromPopup($event)"
           [location]="activity_details?.location"
           ></app-book-now>

    </div>
</div>
<!--  end add activity popup -->
<!-- confirm delete activities from the cart popup -->
<div 

*ngIf="showDeleteCartActivities"
class="cstmpopup d-flex">
    <div class="content small">
        <i 
        (click)="showDeleteCartActivities=false"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>
        <div class="container">
            <h2
            class="mt-2"
            style="font-weight: 400;font-size:20px;line-height: 30px;"
            >{{'delete_activity_message'|translate}}</h2>
            <div class="mt-4">
                <button 
                (click)="acceptDeleteActivity()"
                class="btn btn-warning">
                    {{'yes'|translate}}
                </button>
                <span class="mx-2"></span>
                <button 
                (click)="showDeleteCartActivities=false"
                class="btn btn-warning">
                    {{'no'|translate}}
                </button>
            </div>
        </div>
    </div>
</div>