<app-laoding *ngIf="loading"></app-laoding>
<section *ngIf="activity_details && !loading" style="min-height: 100vh;" class="details-page">
    <div class="cvr">
        <img appImgs [src]="activity_details.banner" alt="">
    </div>
    <div class="container">
        <div class="header mt-3 flex-column flex-md-row  d-flex justify-content-between align-items-md-center">
            <h2 class="mb-2">{{activity_details.title}}</h2>
            <div>
                <i 
                style="font-size: 25px;cursor: pointer;"
                *ngIf="isLogin()"
                (click)=" addActivityToFavorite()"
                [ngStyle]="{'color': activity_details?.favorite=='FAVORITE' ? '#00DCDC' : 'lightgray'}"
                class="fa-solid fa-heart"></i>
            </div>
        </div>
        <!-- <hr> -->
        <div class="my-2"></div>
        <div class="row">
            <div class="col-lg-8">
                <div class="cash">
                    <div class="flex-column flex-md-row  d-flex justify-content-between align-items-md-center">
                        <div class="cstm75">
                            <h2 *ngIf="activity_details.location.length" class="mb-1">
                                {{activity_details.location[0].branch.area_name}}
                                | {{ activity_details.age_from + '-' + activity_details.age_to }} {{'years'|translate}} | {{interestName}}
                            </h2>
                            <p class="mb-1">
                                <span *ngFor="let category of activity_details?.categories;let l = last">
                                    {{lang=='ar' ? category?.name_ar : category?.name_en}}
                                    <span *ngIf="!l">,</span>
                                </span>
                            </p>
                            <ul 
                            *ngIf="isLogin() && !activity_details?.hideMembers"
                            class="list-unstyled p-0 d-flex mb-0 mt-2 flex-wrap">
                                <li 
                                [class.d-none]="(member?.child_age|stringToNumber)>(activity_details?.age_to|stringToNumber)|| (member?.child_age|stringToNumber)<(activity_details?.age_from|stringToNumber)"
                                style="color:#F89416;padding:7px 10px;border-radius: 30px;border:1px solid #F89416;margin-bottom:5px"
                                [ngStyle]="{
                                    'marginRight': lang=='ar' ? '0' : '5px',
                                    'marginLeft': lang=='ar' ? '5px' : '0'
                            }"
                                *ngFor="let member of members">
                                    {{member?.child_name|replaceComma}}
                                </li>
                            </ul>
                        </div>
                        <p *ngIf="activity_details.location.length" class="orangecolor mb-1">
                            <img appImgs 
                            style="width: 30px;"
                            src="assets/images/cash.svg" alt="">
                            <span class="mx-1"></span>
                            {{activity_details.location[0].price}} 
                            {{'kwd'|translate}}
                        </p>
                    </div>
                    <hr>
                    <div class="clup-details d-md-flex align-items-md-center">
                        <img appImgs style="width:120px" class="mb-1" [src]="activity_details.club_details.logo" alt="join">
                        <span class="mx-2"></span>
                        <div>
                            <h3 class="maincolor mb-1" style="font-size: 20px;">{{activity_details.club_details.name}}</h3>
                            <p class="text-secondary mb-1">
                                {{'go'|translate}}
                            </p>
                            <div>
                                <!-- <button class="mb-2 black">
                                    <i class="fa-solid fa-heart"></i>
                                    <span class="mx-1"></span>
                                    {{'save'|translate}}
                                </button>
                                <span class="mx-1"></span> -->
                                <a routerLink="/contact">
                                    <i class="fa-solid fa-comment maincolor "></i>
                                </a>
                                <span class="mx-1"></span>
                                <i 
                                (click)="sharePopup=true"
                                style="cursor: pointer;"
                                class="fa-solid fa-share-nodes maincolor"></i>
                             
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h2 class="mb-1 mt-3">{{'about'|translate}}</h2>
                    <p [innerHTML]="savedHtml(activity_details.description)" class="mt-3"></p>
                    <hr>
                    <div class="Schedule">
                        <h2 class="mb-1">{{'Schedule'|translate}}</h2>
                        <p class="text-center" [innerHTML]="savedHtml(activity_details.schedule)"></p>
                    </div>
                    <h2 
                    class="mb-2">
                    <i 
                    style="font-size:25px"
                    class="maincolor fa-solid fa-location-dot"></i>
                    {{'find_us'|translate}}</h2>
                    <google-map
                    height="300px"
                    width="100%"
                    [zoom]="12"
                    [center]="center"
                    [options]="options"
                    >
                    <map-marker
                    *ngFor="let marker of markers"
                    [position]="marker.position"
                    [options]="marker.options"
                  >
                  </map-marker>
                    </google-map>
                    <div class="my-2"></div>
                    <div 
                    *ngIf="activity_details.gallery?.length"
                    class="gallarey">
                        <h2 class="mb-1">{{'Gallery'|translate}}</h2>
                        <swiper 
                        [ngStyle]="{'direction': lang=='ar' ? 'rtl' : 'ltr'}"
                        class="mrginBottom" style="text-align:right" [config]="swpieroptions">

                            <ng-container *ngFor="let item of activity_details.gallery;let i = index">
                                <ng-template swiperSlide>
                                    <div>
                                        <div style="position: relative;height: 400px;box-shadow: 0 0 20px rgb(0 0 0 / 25%);border: 1px solid #ebeef5;">
                                            <img appImgs style="height: 100%;" class="w-100" [src]="item.photo_name" alt="join">
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>

                        </swiper>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-lg-4 mb-4">
                <div class="book-now bg-white p-3 rounded">
                    <!-- <p class="maincolor" style="margin-bottom: 2px">
                        {{'special_order'|translate}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                        </svg>
                    </p> -->
                    <!-- <p class="m-0">{{activity_details.title}}</p>
                    <div class="my-1">
                        <i class="maincolor fa-solid fa-location-dot"></i>
                        <span class="mx-1"></span>
                        <small *ngIf="activity_details.location?.length"> 
                            {{activity_details.location[0].branch.area_name}}
                            | {{ activity_details.age_from + '-' + activity_details.age_to }} {{'years'|translate}} |
                        </small>
                    </div>
                    <div *ngIf="activity_details.location?.length">
                        <small class="maincolor ">{{'price'|translate}}: </small>
                        <span class="mx-1"></span>
                        <small class="orangecolor">      {{activity_details.location[0].price}} 
                            {{'kwd'|translate}}    
                        </small>
                    </div> -->
                    <ng-container
                    *ngIf="activity_details?.location?.length"
                    >
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bold">
                                {{'booking_details'|translate}}
                            </p>
                            <i 
                            (click)="checkCartItems()"
                            class="fa-solid fa-pen-to-square maincolor"
                            style="cursor: pointer;font-size: 25px;"
                            ></i>
                        </div>
                        <p class="cstmmed mb-1">
                            {{'location'|translate}} : 
                            <span class="text-secondary">
                                {{activity_details.selectedLocation?.branch?.branch_name}}
                            </span>
                        </p>
                        <p class="cstmmed mb-1">
                            {{'date'|translate}} : 
                            <span class="text-secondary">
                                {{activity_details.selectedDate|date:'EEEE, d MMMM, y'}}
                            </span>
                        </p>
                        <p class="cstmmed mb-1">
                            {{'time'|translate}} : 
                            <span class="text-secondary">
                                {{  this.activity_details.selectedTime?.from_time + " - " + this.activity_details.selectedTime?.to_time}}
                                 ( {{'available'|translate}}  {{available}} )
                            </span>
                        </p>
                        <p 
                        *ngIf="isLogin() && !activity_details?.hideMembers && this.activity_details.selectedMembers?.length"
                        class="cstmmed mb-1">
                            {{'member'|translate}} : 
                            <span class="text-secondary">
                                {{this.activity_details.selectedMembers[0]?.child_name|replaceComma}}
                            </span>
                        </p>
                    </ng-container>
                    
                    <button 
                    (click)="checkNotUserData()"
                    [disabled]="complete"
                    class="w-100 mt-3 book">
                    {{complete ? ('fully_booked'|translate) : ('confirm'|translate)}}
                </button>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</section>
<!-- start add activity popup -->
<div 

*ngIf="showpopup"
class="cstmpopup d-flex">
    <div class="content add-member">
        <i 
        (click)="showpopup=false"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>
        <h2
        class="mb-4"
        style="font-weight: 400;font-size:20px;line-height: 30px;"
        >{{'book_now'|translate}}</h2>

     
        <!-- 
           [selectedLocationFromParent]="activity_details?.selectedLocation"
           [selectedDateFromParent]="activity_details?.selectedDate"
           [selectedTimeFromParent]="activity_details?.selectedTime"
         -->
           <app-book-now
            [activity_id]="activity_details?.id"
           [hideMembers]="activity_details?.hideMembers"
           [ageFrom]="activity_details?.age_from"
           [ageTo]="activity_details?.age_to"
           (patchActivityToParent)="selectedDataFromPopup($event)"
           [location]="activity_details?.location"
           ></app-book-now>

    </div>
</div>
<!--  end add activity popup -->
<!-- confirm delete activities from the cart popup -->
<div 

*ngIf="showDeleteCartActivities"
class="cstmpopup d-flex">
    <div class="content small">
        <i 
        (click)="showDeleteCartActivities=false"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>
        <div class="container">
            <h2
            class="mt-2"
            style="font-weight: 400;font-size:20px;line-height: 30px;"
            >{{'delete_activity_message'|translate}}</h2>
            <div class="mt-4 d-flex justify-content-end ">
                <div>
                    <button 
                    (click)="acceptDeleteActivity()"
                    class="btn btn-warning">
                        {{'yes'|translate}}
                    </button>
                    <span class="mx-2"></span>
                    <button 
                    (click)="showDeleteCartActivities=false"
                    class="btn btn-warning">
                        {{'no'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div 
*ngIf="favLoading"
style="position:fixed;top:0;z-index: 1111;bottom:0;right:0;left:0;display:flex;justify-content: center;align-items: center;background-color: rgba(224, 221, 221, 0.5);">
<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>




<div 

*ngIf="sharePopup"
class="cstmpopup d-flex">
    <div class="content small">
        <i 
        (click)="sharePopup=false"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>
        <div class="container">
            <h2
            class="mt-2"
            style="font-weight: 400;font-size:20px;line-height: 30px;"
            >{{'share'|translate}}</h2>
            <div class="mt-2">
                <app-share
                [link]="'https://mohhamedhassan.github.io/join/activity/'+activity_details?.id"
                ></app-share>
            </div>
        </div>
    </div>
</div>
<!-- start notuser date popup-->
<div 

*ngIf="notUserPopup"
class="cstmpopup d-flex">
    <div class="content add-member">
        <i 
        (click)="notUserPopup=false"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>
        <h2
        class="mb-4"
        style="font-weight: 400;font-size:20px;line-height: 30px;"
        >{{'book_now'|translate}}</h2>

        <form 
        [formGroup]="notuserForm"
        (ngSubmit)="submitNotuserForm()">
           <div class="form-group mb-3">
              <label>{{'name'|translate}}</label>
              <input 
              formControlName="name"
              type="text" class="form-control">
              <p 
              *ngIf="(notuserForm.controls['name']?.errors!=null && notuserForm.controls['name'].touched) ||
              (notuserForm.controls['name']?.errors!=null && submited)
              "
              class="my-2 text-danger">
                  {{'required'|translate}}
              </p>
           </div>
           <div class="form-group mb-3">
            <label>{{'phone_number'|translate}}</label>
            <input 
            formControlName="phone"
            type="text" class="form-control">
            <p 
            *ngIf="(notuserForm.controls['phone']?.errors!=null && notuserForm.controls['phone'].touched) ||
            (notuserForm.controls['phone']?.errors!=null && submited)
            "
            class="my-2 text-danger">
                {{'validphone'|translate}}
            </p>
         </div>
         <div class="form-group mb-3">
          <label>{{'email'|translate}}</label>
          <input 
          formControlName="email"
          type="text" class="form-control">
          <p 
          *ngIf="(notuserForm.controls['email']?.errors!=null && notuserForm.controls['email'].touched) ||
          (notuserForm.controls['email']?.errors!=null && submited)
          "
          class="my-2 text-danger">
              {{'validemail'|translate}}
          </p>
       </div>
       <div 
       *ngIf="!activity_details?.hideMembers"
       class="mb-3">
        <label >{{"number_of_members"|translate}}</label> <br>
        <!-- <label class="mb-2">( {{"available"|translate}} {{avialbeMembers}} )</label> -->
        <div  class="plusminus ">
          <i 
          (click)="minusOne()"
          class="fa-solid fa-minus"></i>
          <span class="mx-2 count">{{notUserMembersCount}}</span>
          <i 
          (click)="plusOne()"
          class="fa-solid fa-plus"></i>
      </div>
       </div>
       <div
       *ngIf="!activity_details?.hideMembers"
       class="mb-3">
        <div class="form-check">
          <input 
          formControlName="iconfirm"
          class="form-check-input" type="checkbox" value="" id="iconfirm">
          <label class="form-check-label" for="iconfirm">
            {{'i_confirm'|translate}}
          </label>
          <p 
          *ngIf="(notuserForm.controls['iconfirm']?.errors!=null && notuserForm.controls['iconfirm'].touched) ||
          (notuserForm.controls['iconfirm']?.errors!=null && submited)
          "
          class="my-2 text-danger">
              {{'required'|translate}}
          </p>
        </div>
       </div>
       <button 
       class="orangebtn my-2">
           {{'confirm'|translate}}
       </button>
      </form>

         

    </div>
</div>
<!--  end notuser date popup -->