<app-shared-header 
*ngIf="!loading"
header="history"></app-shared-header>
<div 
style="min-height: 50vh;"
class="container">
    <!-- <h2 class="mb-3" style="font-size: 25px;">{{'history'|translate}}</h2> -->
    <app-laoding *ngIf="loading"></app-laoding>
    <p    
    class="text-secondary fw-bold text-center"
    *ngIf="!history?.length&&!loading">
       {{'no_data'|translate}}
    </p>
    <div 
    *ngIf="!loading">
        <div
        class="row" 
        *ngFor="let item of history">
                <div class="col-md-12 mb-3">
                    <div style="border:1px solid rgb(218 213 213)" class="rounded h-100 p-3">
                        <a 
                        style="color:black"
                        [routerLink]="['/history/order_details',item?.order_id]" >
                           <table>
                            <tr>
                                <td>{{'order_id'|translate}} :</td>
                                <td>{{item?.order_id}}</td>
                            </tr>
                            <tr>
                                <td>{{'date'|translate}} :</td>
                                <td>{{item?.created_at|date}}</td>
                            </tr>
                            <tr *ngIf="item?.booked_activity?.length">
                                <td>{{'numbers_of_activities'|translate}} :</td>
                                <td>{{item?.booked_activity?.length}}</td>
                            </tr>
                            <tr *ngIf="item?.booked_products?.length">
                                <td>{{'numbers_of_products'|translate}} :</td>
                                <td>{{item?.booked_products?.length}}</td>
                            </tr>
                            <tr>
                                <td>{{'total_price'|translate}} :</td>
                                <td>{{(getTotal(item?.prices)|tofixednumber )|| 0}}</td>
                            </tr>
                           </table>
                           <ul 
                           *ngIf="item?.images?.length"
                           class="d-flex flex-wrap list-unstyled p-0 mb-0 mt-2">
                                <li 
                                class="text-center"
                                [ngStyle]="{
                                    'marginRight': lang=='ar' ? '0' : '5px',
                                    'marginLeft': lang=='ar' ? '5px' : '0'
                            }"
                                *ngFor="let image of item?.images">
                                    <img 
                                    appImgs
                                    style="width:100px;height: 50px;object-fit: contain;" 
                                    [src]="image?.club_logo" alt="">
                                    <p>{{image?.club_name}}</p>
                                </li>
                           </ul>
                        </a>
                     
                    </div>
                </div>
        </div>
    </div>
</div>
