<section style="min-height:100vh">

</section>
<div 
class="cstmpopup">
    <div class="content payment suc">
        
        <div class="text-center">
            <img src="assets/images/mainlogo.png" alt="" 
            style="width:100px"
            >
            <div 
            style="
            width:100px;height: 100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin:20px auto;
            border:2px solid #d44747"
            class="text-center">
                <i 
                style="font-size:50px;color: #d44747;"
                class="fa-solid fa-xmark"></i>
            </div>
            <h2 
            style="color: #d44747;"
            >
                {{"failed"|translate}}
            </h2>
            <div class="text-center">
                <a 
                class="orangebtn d-block"
               routerLink="/">
                    {{'home'|translate}}
                </a>
            </div>
        </div>
    </div>
</div>