<section 
class="store">
    <app-shared-header
    header="store"
    ></app-shared-header>
    <!--  -->
    <div
    style="min-height: 40vh;"
    class="container">
        <app-categories-list 
        (chosenTab)="getCategoryById($event)"  
        [listData]="tabs"></app-categories-list> 
        
        <section class="row">
            <div *ngFor="let product of products" class="col-md-4 col-lg-3 mb-4">
                <app-store-card 
                [imgSrc]="product.image"
                [name_ar]="product.name_ar"
                [name_en]="product.name_en"
                [price]="product.price"
                [pre_price]="product.pre_price"
                ></app-store-card>
            </div>
        </section>
        <p    
        class="text-secondary fw-bold text-center"
        *ngIf="!products?.length&&requestCompleted">
           {{'no_data'|translate}}
        </p>
        <app-laoding *ngIf="loading"></app-laoding>
    </div>

</section>