<app-shared-header header="mycart"></app-shared-header>
<div 
style="min-height: 50vh;"
class="container">
    <h2 class="mb-3" style="font-size: 25px;">{{'mycart'|translate}}</h2>
    <p    
    class="text-secondary fw-bold text-center"
    *ngIf="!cartitems?.length">
       {{'no_data'|translate}}
    </p>
    <div>
        <div
        class="row" 
        *ngFor="let item of cartitems">
                <div class="col-md-4 mb-3">
                    <div>
                        <img
                        style="height: 180px;object-fit: cover;"
                        src="https://app.join.com.kw/public/club_activity_image/club-1668955212.jpg" alt="join" class="w-100 rounded">
                    </div>
                </div>
                <div class="col-md-8 mb-3">
                    <div style="border:1px solid rgb(218 213 213)" class="rounded h-100 p-3">
                        <h2 style="font-size:large;">Test</h2>
                        <p class="maincolor">
                            Quantity : 2
                        </p>
                        <p class="">
                            
                            <span class="maincolor">Price : </span>
                            <span class="orangecolor">2.500 KWD</span>
            
                        </p>
                    </div>
                </div>
                <hr class="d-md-none">
        </div>
    </div>
</div>
