<section 
style="min-height: 400px;"
class="reviews">
    <ul 
    *ngIf="reviews?.length"
    class="list-unstyled p-0 m-0 review-list">
        <li 
        *ngFor="let item of reviews"
        class="mb-3">
        <div class="d-flex  justify-content-between align-items-start">
            <div class="d-flex ">
                <div class="userImage">
                    <img appImgs src="assets/images/useravatar.png" alt="join">
                </div>
                <div class="mx-2"></div>
                <div class="content">
                    <h3>{{item.user_name}}</h3>
                    <div class="stars">
                        <ngx-star-rating  
                        [(ngModel)]="item.review_rating"
                        [disabled]="true"></ngx-star-rating>
                    </div>
                    <p class="mb-1">  
                        {{item.review_desc}}
                    </p>
                    <p 
                    style="font-size: medium;"
                    class="text-secondary m-0 d-md-none">
                        {{item?.created_at|date}}
                    </p>
                </div>      
            </div>
            <p 
            style="font-size: medium;"
            class="text-secondary m-0 d-md-block d-none">
            {{item?.created_at|date}}
            </p>
        </div>

        </li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <p 
            *ngIf="!reviews?.length"
            class="text-secondary text-center my-3">
                {{'no_data'|translate}}
            </p>
        </div>
    </div>
</section>