<section class="login p-4">
    <h1>
        {{'Be_Part_Of_The_Adventure'|translate}}
    </h1>
    <p class="mb-4">{{'insert_your_phone_number'|translate}}</p>
    <form 
    (ngSubmit)="login(loginForm.value)"
    [formGroup]="loginForm"
    >

        <div class="form-group mb-3">
            <app-phone-number
            [inputname]="loginForm.get('mobile')"
            ></app-phone-number>
              <p 
              *ngIf="(loginForm.controls['mobile']?.errors!=null && loginForm.controls['mobile'].touched) ||
              (loginForm.controls['mobile']?.errors!=null && submited)
              "
              class="my-2 text-danger">
                  {{'validphone'|translate}}
              </p>
        </div> 
        <!--  -->
        <div class="form-group mb-3">
            <input 
            formControlName="password"
            type="password" placeholder="{{'password'|translate}}">
            <p 
            *ngIf="(loginForm.controls['password']?.errors!=null && loginForm.controls['password'].touched) ||
            (loginForm.controls['password']?.errors!=null && submited)
            "
            class="my-2 text-danger">
                {{'required'|translate}}
            </p>
            <p 
            (click)="showpopup=true"
            style="cursor: pointer;" class="my-2">
                {{'forget_password'|translate}}
            </p>
        </div>
        <!--  -->
        <div class="mb-3 d-flex flex-column flex-md-row ">
            <button
            [disabled]="loading"
            >{{'signin'|translate}}
            <i 
            *ngIf="loading"
            class="fas fa-circle-notch fa-spin"></i>
        </button>
            <span class="m-2"></span>
            <a class="asAGuest text-center" routerLink="/">
                {{'Countinu_As_Guest'|translate}}
            </a>
        </div>
        <p class="mb-2 fw-bold">
            {{'Or_Login_With'|translate}}
        </p>
        <ul class="p-0 m-0 list-unstyled d-flex login-ways">
            <li
            (click)="GoogleAuth()"
            ><img appImgs src="assets/images/google.png" alt="join"></li>
            <span class="mx-2"></span>
            <!-- <li><img appImgs src="assets/images/apple.png" alt="join"></li>
            <span class="mx-2"></span> -->
            <li
            (click)="facebookAuth() "
            ><img appImgs style="background-color: #425EAB;" src="assets/images/facebook.png" alt="join"></li>
        </ul>
    </form>
</section>
<div 
[ngClass]="{
    'd-flex':showpopup,
    'd-none':!showpopup
}"
*ngIf="showpopup"
class="cstmpopup">
    <div
    style="min-height: 70vh;"
    class="content add-member">
        <i 
        (click)="showpopup=false"
        [ngStyle]="{
            left:lang=='ar'?'20px':'auto',
            right:lang=='ar'?'auto':'20px'
        }"
        class="fa-solid fa-x"></i>
        
        <div class="">
            <h2
        style="font-weight: 400;font-size:20px;line-height: 30px;"
        >
            {{'forget_password'|translate}}
        </h2>
            <app-forget-password
            (closePopup)="showpopup=false"
            ></app-forget-password>
        </div>
    </div>
</div>