<div 
class="mb-4"
style="min-height: 70vh;box-shadow: 0 0 20px rgb(0 0 0 / 25%);">
    <swiper 
style="direction: ltr;text-align:right" 
[loop]="false" 
[autoHeight]="true" 
[allowTouchMove]="true"
[autoplay]="{ delay: 1000, disableOnInteraction: false }" 
[pagination]="{ clickable: true }" 
[navigation]="true"
>
    <ng-template *ngFor="let item of sliderContent" data-swiper-autoplay="6000" swiperSlide>
        <a [routerLink]="['/clup/',item?.club_id]">
            <img  alt="join" style="height:70vh;width: 100%" [src]="item?.photo_name">
        </a>
    </ng-template>
</swiper>
</div>