<ngx-intl-tel-input
[formControl]="inputname"
[cssClass]="'custom form-control'"
[preferredCountries]="preferredCountries"
[enableAutoCountrySelect]="true"
[enablePlaceholder]="true"
[searchCountryFlag]="true"
[searchCountryField]="[
  SearchCountryField.Iso2,
  SearchCountryField.Name
]"
[selectFirstCountry]="false"
[selectedCountryISO]="CountryISO.Kuwait"
[maxLength]="15"
[phoneValidation]="false"
[separateDialCode]="separateDialCode"
[numberFormat]="PhoneNumberFormat.National"

[customPlaceholder]="lang ? 'Phone Number' : 'رقم الهاتف'"
>
</ngx-intl-tel-input>
<!-- name="mobile"
formControlName="mobile" -->