<ngx-intl-tel-input
[formControl]="inputname"
[cssClass]="formcontrol ? 'custom form-control' :   'custom'"
[preferredCountries]="preferredCountries"
[enableAutoCountrySelect]="true"
[enablePlaceholder]="true"
[searchCountryFlag]="true"
[searchCountryField]="[
  SearchCountryField.Iso2,
  SearchCountryField.Name
]"
[selectFirstCountry]="false"
[selectedCountryISO]="CountryISO.Kuwait"
[maxLength]="15"
[phoneValidation]="true"
[separateDialCode]="separateDialCode"
[numberFormat]="PhoneNumberFormat.National"

[customPlaceholder]="formcontrol ?   (lang=='ar' ? 'رقم الهاتف الجديد (اختياري)' :'New Phone Number (optional)' ) : (lang=='ar' ? 'رقم الهاتف' :'Phone Number' ) "
>
</ngx-intl-tel-input>
<!-- name="mobile"
formControlName="mobile" -->