@import '/src/assets//styles/colors.scss';
::ng-deep {

    .swiper-button-next,
    .swiper-button-prev  {    
        background: $orangeColor !important;
        color:white !important;
        border-radius: 50% !important;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        &:after {
            font-size: 20px;
            font-weight: bold;
        }
    }
    .swiper-pagination-bullet-active {
        background-color: $orangeColor !important;
    }
// end swiper arrows
.dropdown-menu.cstm {
    inset: 105% auto auto -270px !important;
    width: 300px;
    padding: 0 !important;
    border-radius: 0 !important;
}
.dropdown-menu.store {
    min-width: 400px;
    a {
        &:hover {
            color:$mainColor !important
        }
    }
}
.custom-rtl { 
    .dropdown-menu.cstm {
        inset: 105% -270px auto 0 !important;
        width: 300px;
        direction: rtl;
        text-align: right;
    }
}
}
