@import '/src/assets//styles/colors.scss';
::ng-deep {
    p-calendar {
        max-width: 100%;
    }
    .p-datepicker {
        width: 100% !important;
    } 
.country-dropdown {
    max-width: 300px !important; 
}
    .swiper-button-next,
    .swiper-button-prev  {    
        background: $orangeColor !important;
        color:white !important;
        border-radius: 50% !important;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        &:after {
            font-size: 20px;
            font-weight: bold;
        }
    }
    .swiper-pagination-bullet-active {
        background-color: $orangeColor !important;
    }
// end swiper arrows
.dropdown-menu.cstm {
    inset: 105% auto auto -270px !important;
    width: 300px;
    padding: 0 !important;
    border-radius: 0 !important;
}
.dropdown-menu.cstm.not {
    inset: 60% auto auto -185px !important;
    width: auto !important;
}
.dropdown-menu.cstm.sch {
    inset: 60% auto auto -145px !important;
    width: auto !important;
}
.dropdown-menu.store {
    min-width: 400px;
    inset: 100% auto auto -200px !important;
    a {
        &:hover {
            color:$mainColor !important
        }
    }
}
.custom-rtl { 

    .dropdown-menu.cstm {
        inset: 105% -270px auto 0 !important;
        width: 300px;
        direction: rtl;
        text-align: right;
    }
    .dropdown-menu.cstm.not {
        inset: 60% -185px auto 0 !important;
        width: auto !important;
        direction: rtl;
        text-align: right;
    }
    .dropdown-menu.cstm.sch {
        inset: 60% -145px auto 0 !important;
        width: auto !important;
        direction: rtl;
        text-align: right;
    }
    .dropdown-menu.store {
        inset: 100% -200px auto auto !important;
        text-align: right;
        direction: rtl;
    }
}
// start accordion style

.accordion-toggle[aria-expanded="true"]:after {
    font-family: "Font Awesome 5 Free";
content: "\f077";
display: inline-block;
padding-left: 3px;
vertical-align: middle;
font-weight: 900;
position: absolute;
color:$mainColor;
right: 1rem;
top: 1rem;
  
}
.card {
    background-color: transparent;
    border: 1px solid #e7e7e7;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 5%);
    margin-bottom: 10px;
    .btn.btn-link {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        font-size: small;
        text-align: left;
    }
}
.card-header{border-bottom:none;background-color: transparent;padding:10px 0}
.accordion-toggle[aria-expanded="false"]:after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    color:$mainColor;
    display: inline-block;
    padding-left: 3px;
    vertical-align: middle;
    font-weight: 900;
    position: absolute;
    right: 1rem;
    top: 1rem;
    
    
}
.btn-link {
    font-weight: 500;
    color: black ;
    text-decoration: none;
}
.btn.focus, .btn:focus{box-shadow: none;}
.btn-link:hover {
   color:black;
   text-decoration: none;
}
.custom-rtl { 
    .accordion-toggle[aria-expanded="false"]:after {
        left: 1rem;
        right: auto;
    }
    .accordion-toggle[aria-expanded="true"]:after {
        left: 1rem;
        right: auto;
    }
    .card {
        .btn.btn-link {
            text-align: right;
        }
    }
}
bs-datepicker-container, bs-daterangepicker-container {
    z-index: 11111111111111111111111;
}
bs-datepicker-container {
    top: -50% !important;
}

}


