<swiper  
class="mrginBottom"
[ngStyle]="{'direction': lang=='ar' ? 'rtl' : 'ltr'}"
style="text-align:right"
[config]="swpieroptions">

    <ng-container *ngFor="let product of relatedProducts;let i = index">
        <ng-template swiperSlide>
            <div
            [ngStyle]="{
                'direction':lang=='ar'?'rtl':'ltr',
                'text-align':lang=='ar'?'right':'left'
            }"
            >
            <app-store-card  
            [discount_percent]="product?.discount_percent"
            [id]="product.id"
            [imgSrc]="product.image"
            [name_ar]="product.name"
            [name_en]="product.name"
            [price]="product.price"
            [pre_price]="product.pre_price"
            ></app-store-card>
            </div>
        </ng-template>
    </ng-container>

</swiper>