<h2 
*ngIf="activities?.length"
class="mb-2">
<i 
style="font-size:25px"
class="fa-solid fa-people-group maincolor"></i>
{{'activities'|translate}}</h2>
<swiper  
[ngStyle]="{'direction': lang=='ar' ? 'rtl' : 'ltr'}"
class="mb-3 hide-arrow"
style="text-align:right"
[config]="swpieroptions">

    <ng-container *ngFor="let item of activities;let i = index">
        <ng-template swiperSlide>
            <app-cart-one 
            [hideMembers]="item?.hideMembers"
            [activityIndex]="i"
            [show_heart]="isLogin()"
            (favoriteLoaing)="favoriteLoadingStatus($event)"
            (changefavStatus)="changeFavStatus($event)"
            [heartStatus]='item.favorite'
            [activityId]="item.id"
            [categories]="item.categories"
            [detailsPageRoute]="'/activity/'+item.id"
            [title]="item.title"
            [age_from]="item.age_from"
            [age_to]="item.age_to"
            [price]="item.location[0].price"
            [interests_name]="item.interests_name"
            [location_count]="item.location_count"
            [imgSrc]="item.banner"></app-cart-one>
        </ng-template>
    </ng-container>

</swiper>
<div 
*ngIf="favoriteLoading"
style="position:fixed;top:0;z-index: 1111;bottom:0;right:0;left:0;display:flex;justify-content: center;align-items: center;background-color: rgba(224, 221, 221, 0.5);">
<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>