<section class="home">
    <app-slider-one></app-slider-one>
    <!--  -->
    <div class="container">
        <app-categories-list
        [listData]="tabs"   
        (chosenTab)="chosenTabFromChild($event)"     
        ></app-categories-list>
    <!--  -->
    <section class="mrginBottom">
       <app-home-activities [hidden]="chosenTab!=1"></app-home-activities>
       <app-home-clups [hidden]="chosenTab!=2"></app-home-clups>
       <app-home-intersts [hidden]="chosenTab!=3"></app-home-intersts>
    </section>
    <!--  -->
    <app-slider-two></app-slider-two>
    </div>

</section>