<div *ngIf="!loading">
    <app-shared-header header="Interests"></app-shared-header>
<section class="container">

    <div class="row">
        <div *ngFor="let activity of activities" class="col-md-4 col-lg-3 mb-4">
            <app-cart-one 
            [categories]="activity.categories"
            [detailsPageRoute]="'/activity/'+activity.id"
            [title]="activity.title"
            [age_from]="activity.age_from"
            [age_to]="activity.age_to"
            [price]="activity.location[0].price"
            [interests_name]="activity.interests_name"
            [location_count]="activity.location_count"
            [imgSrc]="activity.banner"></app-cart-one>
        </div>
        <p    
        class="text-secondary fw-bold text-center"
        *ngIf="!activities?.length&&requestComplete">
           {{'no_data'|translate}}
        </p>
        
    </div>
    
</section>
</div>
<app-laoding *ngIf="loading"></app-laoding>