<section class="container">
    <h2 class="mainColorHeading mt-4">{{'Interests'|translate}}</h2>
    <div class="custom-line"></div>
    <div class="row">
        <div *ngFor="let activity of activities" class="col-md-4 col-lg-3 mb-4">
            <app-cart-one 
            [detailsPageRoute]="'/activity/'+activity.id"
            [title]="activity.title"
            [age_from]="activity.age_from"
            [age_to]="activity.age_to"
            [price]="activity.location[0].price"
            [interests_name]="activity.interests_name"
            [location_count]="activity.location_count"
            [imgSrc]="activity.banner"></app-cart-one>
        </div>
        <p    
        class="text-secondary fw-bold text-center"
        *ngIf="!activities?.length&&requestComplete">
           {{'no_data'|translate}}
        </p>
        <app-laoding *ngIf="loading"></app-laoding>
    </div>
    
</section>