<section
class="login p-4"
>
    <h1>
        {{'Be_Part_Of_The_Adventure'|translate}}
    </h1>
    <p class="mb-4">{{'insert_your_phone_number'|translate}}</p>
    <form *ngIf="step==1" [formGroup]="forgetPasswordForm" (ngSubmit)="submitStepOne()" class="login">
        <div class="form-group mb-3">
            <app-phone-number [inputname]="forgetPasswordForm.get('mobile')"></app-phone-number>
            <p *ngIf="(forgetPasswordForm.controls['mobile']?.errors!=null && forgetPasswordForm.controls['mobile'].touched) ||
              (forgetPasswordForm.controls['mobile']?.errors!=null && submited)
              " class="my-2 text-danger">
                {{'validphone'|translate}}
            </p>
        </div>
        <button 
        [disabled]="loading"
        class="orangebtn">
            {{'next'|translate}}
            <i *ngIf="loading" class="fas fa-circle-notch fa-spin"></i>
        </button>
    </form>
    <!--  -->
    <div *ngIf="step==2">
        <h2 class="mb-0 mt-2" style="font-weight: 400;font-size:20px;line-height: 30px;">
            {{'please_enter_the_verification_code'|translate}}
            {{forgetPasswordForm.value?.mobile?.e164Number}}
        </h2>
        <div>
            <input [formControl]="verifiedCodeControl" placeholder="{{'code'|translate}}" 
            onKeyPress="if(this.value.length==6) return false;console.log(this.value)"
            type="number" min="0" 
                class="form-control my-3">
                <!-- <p 
                *ngIf="verifiedCodeControl?.errors!=null && verifiedCodeControl?.touched"
                class="text-danger">
                    Enter the five-digit verification code
                </p> -->
            <button (click)="verifyCode()" [disabled]="verifiedCodeControl?.errors!=null||verifyoading" class="orangebtn">
                {{'verify'|translate}}
                <i *ngIf="verifyoading" class="fas fa-circle-notch fa-spin"></i>
            </button>
            <div class="text-center">
                <p (click)="getOtp()" style="cursor: pointer;" *ngIf="!loading&&!intervalLoading" class="my text-primary">
                    {{'Didnt_receive_the_code'|translate}}
        
                </p>
                <p class="text-primary my-2" *ngIf="intervalLoading">
                    {{counter}}
                </p>
                <i *ngIf="loading" class="fas fa-circle-notch fa-spin"></i>
            </div>
        </div>
    </div>
    <!--  -->
    <form
     *ngIf="step==3" 
     [formGroup]="newPasswordForm"
     (ngSubmit)="submitStepThree()" class="login">
        <!-- <div class="form-group mb-3">
            <input formControlName="old_password" type="password" placeholder="Old Password">
            <p *ngIf="(newPasswordForm.controls['old_password']?.errors!=null && newPasswordForm.controls['old_password'].touched) ||
        (newPasswordForm.controls['old_password']?.errors!=null && submited2)
        " class="my-2 text-danger">
                {{'required'|translate}}
            </p>
        </div> -->
        <!--  -->
        <div class="form-group mb-3">
            <input formControlName="password" type="password" placeholder="{{'password'|translate}}">
            <p *ngIf="(newPasswordForm.controls['password']?.errors!=null && newPasswordForm.controls['password'].touched) ||
        (newPasswordForm.controls['password']?.errors!=null && submited2)
        " class="my-2 text-danger">
                {{'required'|translate}}
            </p>
        </div>
        <!--  -->
        <div class="form-group mb-3">
            <input formControlName="confirm_password" type="password" placeholder="{{'confirmpassword'|translate}}">
            <p *ngIf="(newPasswordForm.controls['password']?.value != newPasswordForm.controls['confirm_password']?.value && newPasswordForm.controls['confirm_password'].touched) ||
        (newPasswordForm.controls['password']?.value != newPasswordForm.controls['confirm_password']?.value && submited2)
        " class="my-2 text-danger">
                {{'password_mismatch'|translate}}
            </p>
        </div>
        <!--  -->
        <button 
        [disabled]="stepThreeLoading"
        class="orangebtn">
        {{'confirm'|translate}}
            <i *ngIf="stepThreeLoading" class="fas fa-circle-notch fa-spin"></i>
        </button>
    </form>
    <!--  -->
</section>